[2014-08-01 06:54] MoOx opened #1 "cssnext v1.0.0"
For v1.0 we need all those packages:
- [x] [postcss-import](https://github.com/postcss/postcss-import)
- [x] [postcss-custom-properties](https://github.com/postcss/postcss-custom-properties)
- [x] [postcss-calc](https://github.com/postcss/postcss-calc)
- [x] [postcss-custom-media](https://github.com/postcss/postcss-custom-media)
- [x] [postcss-color](https://github.com/postcss/postcss-color)
- [x]

[2014-08-06 07:49] MoOx opened #2 "API should be able to return a css string"
[code]

[code]

[2014-08-06 07:51] MoOx opened #3 "should be able to return a postcss plugin"
[code]

[2014-08-06 07:52] MoOx opened #4 "should handle custom properties / var()"
using [postcss-custom-properties](https://github.com/postcss/postcss-custom-properties)

Edit: package is ready

[2014-08-06 07:53] MoOx opened #5 "should reduce calc() when it's possible"
using [postcss-calc](https://github.com/postcss/postcss-calc)

Edit: package is ready

[2014-08-06 07:53] MoOx opened #6 "should import CSS files by inlining them"
using [postcss-import](https://github.com/postcss/postcss-import)

Edit: package is ready

[2014-08-06 07:54] MoOx opened #7 "should handle custom media queries"
using [postcss-custom-media](https://github.com/postcss/postcss-custom-media)

Edit: package is ready

[2014-08-06 08:22] MoOx opened #8 "should add lots of support for color"
using [postcss-color](https://github.com/postcss/postcss-color)
- color functions
- rebeccapurlple
- hwb
- alpha hexa (#rrggbbaa)

[2014-08-06 08:28] MoOx opened #9 "should handle sourcemap"

[2014-08-06 08:29] MoOx opened #10 "cli: should read from a file and write to a file"

[2014-08-06 08:29] MoOx opened #11 "cli: should read from a file and write to stdout"

[2014-08-06 08:29] MoOx opened #12 "cli: should read from stdin and write to stdout"

[2014-08-06 08:29] MoOx opened #13 "cli: should error on non-existant file"

[2014-08-06 08:30] MoOx opened #14 "should have a compress option"

[2014-08-06 14:48] MoOx opened #15 "website"
- [x] baseline
- [x] colors
- [x] layout
- [x] awesome doc with link to spec fucking everywhere
- [ ] article "X reasons you should be using CSSNext today" ([coucou](http://www.webdesignerdepot.com/2014/08/5-reasons-you-should-be-using-sass-today/))
- [ ] link to http://www.sitepoint.com/css-variables-can-preprocessors-cant/
- [x] delete cssnext.putaindecode.io (cssnext gh-pages branch)

[2014-08-11 21:47] MoOx opened #16 "logo"
I'll create a 5$ logo until I want to take time for something better.

[2014-08-12 07:53] #16 closed, assigned to nobody

[2014-08-14 07:28] #4 closed, assigned to MoOx

[2014-08-14 07:28] #5 closed, assigned to MoOx

[2014-08-14 07:28] #6 closed, assigned to MoOx

[2014-08-14 07:28] #7 closed, assigned to MoOx

[2014-08-14 07:28] #9 closed, assigned to MoOx

[2014-08-14 07:29] #8 closed, assigned to MoOx

[2014-08-14 07:30] #2 closed, assigned to MoOx

[2014-08-19 12:22] MoOx opened #17 "Support :matches()"
[code]

should yields into

[code]

poke @Eramdam

[2014-08-19 13:50] #10 closed, assigned to MoOx

[2014-08-19 13:50] #11 closed, assigned to MoOx

[2014-08-19 13:50] #12 closed, assigned to MoOx

[2014-08-19 13:50] #13 closed, assigned to MoOx

[2014-08-19 13:50] #14 closed, assigned to MoOx

[2014-08-19 13:54] MoOx opened #18 "grunt/gulp plugin"
- [x] https://github.com/putaindecode/gulp-cssnext
- [x] https://github.com/putaindecode/grunt-cssnext

[2014-08-19 13:56] MoOx opened #19 "explode test file?"
is it too long ?

[2014-08-19 14:04] MoOx opened #20 "add missing browser option for cli"

[2014-08-20 07:35] #18 closed, assigned to MoOx

[2014-08-22 10:00] eramdam opened #21 "@import should work with relative paths"
Tested with gulp-cssnext, I noticed that @import rules don't work if the path is being relative to the .css file. Given the following structure

[code]

With `import-abs.css` having

[code]

And `import-rel.css` having

[code]

And the `gulpfile.js` having this

[code]

Then, `gulp css:relative` returns

[code]

And of course `gulp css:absolute` works like expected

[code]

:tada:

[2014-08-22 10:10] #21 closed, assigned to nobody

[2014-08-22 21:03] ai opened #22 "Use Autoprefixer 3.0"
Autoprefixer 3.0 brings two API changes:
1. Now there is special `autoprefixer-core` package for plugin development. It has no file system and CLI code and has no `fs-extra` dependency.
2. Browsers now is a part of `options` object: `autoprefixer({ browsers: browsers })`.

[2014-08-24 05:01] #22 closed, assigned to nobody

[2014-08-25 07:01] MoOx opened #23 "Non clear syntax error with unclosed var("
[code]

Give on the playground

[code]

And with cli

[code]

[2014-08-25 14:41] magsout opened #24 "Error with empty file"
[code]

if file is empty :

[code]

[2014-08-26 04:37] #24 closed, assigned to nobody

[2014-08-26 06:27] #23 closed, assigned to nobody

[2014-08-26 08:47] MoOx opened #25 "color/var bug"
[code]

should yields into something like:

[code]

And not throw an error: `Error: Unable to parse color from string var(--base-link-color)`

[2014-08-26 11:55] dhoko opened #27 "Group media queries"
CSS next :

[code]

CSSnext generates

[code]

It would be nice if media queries could be grouped:

[code]

No ?

[2014-08-26 11:59] #27 closed, assigned to nobody

[2014-08-27 06:49] #25 closed, assigned to MoOx

[2014-09-19 06:25] MoOx opened #30 "Support nested media queries"
Nested media queries are working on latest Firefox, Chrome & Safari 8, but not on IE.

We should make this work by moving rules into new media queries using `and`.

http://jsbin.com/kafoxi/1/edit

[2014-09-19 06:26] MoOx opened #31 "Add rem fallback"
Not sure if this should be the default behavior.
We need make something like autoprefixer to select browser support.

[2014-09-19 06:30] MoOx opened #32 "Browser support à la autoprefixer"
Using a list of browser version we should be able to enable/disable a feature.
Note: some feature might require some other (eg: if custom props are disabled (untouched), but color enabled, var() in color() won't be resolved & browser wont be able to resolve it too since color is unsupported (in this case)). Not sure this can happen, we will see how browsers implement stuff :/

Ref https://github.c

[2014-09-25 06:10] necolas opened #34 "Split up Node API and CLI"
As is done with `autoprefixer` and `autoprefixer-core`. It's nice be able to install just the Node API because any module that wants to use this – or a complicated build process – is unlikely to use this tool's CLI.

[2014-09-25 06:17] necolas opened #35 "Remove logos from repo?"
What are they for in here?

[2014-09-25 06:37] necolas opened #36 "Tests fail on fresh clone"
Ran `npm install` then `npm test` and 3 tests failed:

[code]

[2014-09-25 06:51] necolas opened #37 "Potential for collisions in plugin options"
There's no documentation about passing options into plugins (e.g., `postcss-custom-properties`) but it looks like the `options` are passed to every plugin. That means postcss and all the plugins share the same level of the `options` and there's a chance for collisions if any of them use properties with the same name.

Maybe make it possible to set the value of a `feature` to be an options object?

[2014-09-25 07:05] #37 closed, assigned to nobody

[2014-09-26 14:17] #36 closed, assigned to MoOx

[2014-09-26 15:34] #34 closed, assigned to MoOx

[2014-09-27 12:39] lionelB opened #38 "enable sourcemap output other than inline"
Since cssnext only return process().css, sourcemap is only suported when inlined in output.  If specific sourcemap options are provided to postcss ( map, from) process() return an object with {css: "output", map: "sourcemap"}
 To avoir breaking changes,  perhaps cssnext should return an object only if postcss return map prop.

[2014-09-29 14:58] MoOx opened #39 "Create some maps for postcss plugins options (& add all available ones)"
Ref
- https://github.com/postcss/postcss-custom-media/pull/4
- https://github.com/postcss/postcss-custom-properties/issues/8

[2014-09-30 06:12] #35 closed, assigned to MoOx

[2014-10-03 08:08] MoOx opened #40 "explode postcss-color ?"
ref https://github.com/postcss/postcss-color/issues/3#issuecomment-56817047

[2014-10-09 06:45] #39 closed, assigned to MoOx

[2014-10-09 06:45] #40 closed, assigned to MoOx

[2014-10-09 06:51] MoOx opened #42 "Add support for font-variant"
Like rework-font-variant.

[2014-10-09 06:51] #1 closed, assigned to MoOx

[2014-10-13 06:09] Grawl opened #43 "Add `image-set()` support"
Hey, awesome postprocessor! Love it. But will be provided such things like `image-set()`? I just seen @pepelsbey' [presentation](http://pepelsbey.net/pres/clear-and-sharp/?full#34) and realized that we can to do it with existing `@media` queries.

Like so:

`source.css`

[code]

`dist.css`

[code]

[2014-10-23 05:54] #38 closed, assigned to nobody

[2014-10-23 05:56] #20 closed, assigned to MoOx

[2014-10-29 07:25] MoOx opened #44 "add gray() function"
https://github.com/shinnn/postcss-color-gray

[2014-11-01 07:04] #44 closed, assigned to nobody

[2014-11-09 07:15] #42 closed, assigned to nobody

[2014-11-11 17:37] MoOx opened #45 "Round issue"
[code]

gives

[code]

[2014-11-12 05:41] #45 closed, assigned to nobody

[2014-11-12 09:09] lionelB opened #46 "Cssnext logo overlap with the left textarea scrollbar"
![capture d ecran 2014-11-12 10 06 24](https://cloud.githubusercontent.com/assets/160320/5007600/a4f3d70a-6a53-11e4-98d0-36f89cb927a1.png)
ps : will try to submit a fix during my lunch time ;)

[2014-11-12 09:11] #46 closed, assigned to nobody

[2014-11-13 07:13] #15 closed, assigned to MoOx

[2014-11-13 22:40] miketaylr opened #47 ""Cannot read property '_autoprefixerDisabled' of undefined'""
I originally filed this over at https://github.com/webcompat/webcompat.com/issues/394.

I used to have:

[code]

Deleting node_modules and reinstalling I now have:

[code]

And now `grunt cssnext` fails with `"Cannot read property '_autoprefixerDisabled' of undefined'"`

[2014-11-14 06:17] #47 closed, assigned to nobody

[2014-11-14 09:06] necolas opened #48 "Update features list in Node.js API docs"
https://github.com/cssnext/cssnext#nodejs-options

`prefixes` -> `autoprefixer`

[2014-11-24 15:36] #3 closed, assigned to MoOx

[2014-11-24 15:36] #19 closed, assigned to MoOx

[2014-11-24 15:36] #48 closed, assigned to nobody

[2014-12-01 17:54] MoOx opened #49 "1.0.0 roadmap"
Please comment here what you want to see in v1.0.0 & vote (+1/-1) for the things you want to see/don't see.
### API
- [`browsers`](https://github.com/cssnext/cssnext/issues/32) option a la autoprefixer (not useful right now, but I hope will be in the future)
- `preserve` option that will make output more like autoprefixer (spoiler: dangerous option if we consider how buggy are variables & calc are

[2014-12-08 03:38] timkelty opened #50 "Usage with grunt-postcss"
I'm trying to use this as a PostCSS plugin via https://github.com/nDmitry/grunt-postcss

[code]

Running this task throws this:

[code]

Other PostCSS seem to work fine.
Also posted here: https://github.com/nDmitry/grunt-postcss/issues/8
Any ideas?

[2014-12-09 07:03] #50 closed, assigned to nobody

[2014-12-09 17:41] MoOx opened #51 "cli tests are not correctly organized"
Async tests are using one unique filename for the output. It's bad and sometimes some tests fail.

[2014-12-12 15:28] MoOx opened #52 "add media min/max shorthands"
https://github.com/postcss/postcss-media-minmax
http://dev.w3.org/csswg/mediaqueries/#mq-syntax

[2014-12-15 18:15] #49 closed, assigned to nobody

[2014-12-15 18:40] MoOx opened #53 "rebeccapurple is broken"
Some people doesn't follow semver :(

I've made a PR to start the fix https://github.com/dfcreative/color-name/pull/2

[2014-12-16 07:24] #53 closed, assigned to nobody

[2014-12-17 16:23] #52 closed, assigned to nobody

[2014-12-22 11:08] magsout opened #54 "Error: Cannot find module 'exit'"
Using the command `npm run build` on the [grid component cssrecipes](https://github.com/cssrecipes/grid) I get this error:

[code]

I tested with version `0.5.0`, it works, but since `0.6.0` I get an error.

[2014-12-30 16:08] MoOx opened #55 "upgrade to postcss 4"
- get ride of .childs everywhere
- some new apis
- better errors

https://github.com/postcss/postcss/releases/tag/4.0.0

Plugins to update:
- [x] postcss-import
- [x] postcss-custom-properties
- [x] postcss-calc
- [x] postcss-custom-media
- [x] postcss-media-minmax
- [x] postcss-custom-selectors
- [x] postcss-color-rebeccapurple
- [x] postcss-color-hwb
- [x] postcss-color-gray
- [x] postcss-color-

[2014-12-30 17:36] MoOx opened #56 "add option to manipulate directly postcss (eg: to add custom plugins)"
use case: convenient way to manipulate postcss instance directly, for example to add postcss-url to adjust url according to a cdn via cssnext-loader options.
Ref https://github.com/cssnext/cssnext-loader/issues/3

[2014-12-31 16:35] magsout opened #57 "add postcss-url to adjust ﹫import(ed) url() ?"
I think it would be nice to add [postcss-url](https://github.com/postcss/postcss-url) in cssnext.

What do you think about that  ?

[2015-01-01 05:44] yisibl commented on #43
The first, this is not a complete solution. Only supports @2x images.
Secondly, the localization of CSS Grace and a separate plugin is not the same, I later added English document.

Happy New Year! (*^__^*)

[2015-01-01 05:47] yisibl commented on #43
Autoprefixer plans to support in future versions of `min-resolution`.

Only input

[code]

[2015-01-01 13:19] bloodyowl commented on #57
:+1: as the `var(--name)` in `url("")` isn't supposed to work.

[2015-01-01 18:14] magsout commented on #56
Better IMHO

[2015-01-08 09:11] MoOx opened #58 "Fix browser list (for test)"
Recent update to caniuse database make -webkit- off by default (related to default value of autoprefixer). So tests are currently broken (by a README update).

We need to handle #32 asap & get our custom default value.

Or maybe we should adjust default value for testing purpose ?

Or both.

[2015-01-08 13:06] bloodyowl commented on #58
we need to support `-webkit-` prefixing by default IMO. lots of properties are still prefixed in current safari & various versions of android

[2015-01-08 13:13] MoOx commented on #58
v1.0.0 will rely on browserslist, so you will easily be able to handle that by yourself.
I'm not even sure we should rely on a default value, but instead enforce people to specify their own value, maybe by importing their own browser stats like caniuse recommand.

I just opened a new issue about that on browserslist https://github.com/ai/browserslist/issues/4

[2015-01-08 13:38] magsout commented on #54
I reopen issue because I have still an error :

[code]

[2015-01-08 13:39] MoOx commented on #54
What gives: `./node_modules/.bin/cssnext --version` ?

[2015-01-08 13:39] MoOx commented on #54
If you use it via a plugin, please desinstall & reinstall it, semver should do the work for you.

[2015-01-08 13:41] magsout commented on #54
oups my bad, I had a -g install unbuild cssnext@0.6.5

[2015-01-08 13:41] #54 closed

[2015-01-08 13:43] MoOx commented on #54
Don't use npm install -g for projects :)
Only for tools like [trash](https://www.npmjs.com/package/trash)

[2015-01-09 15:59] MoOx commented on #58
Well it's not really what I was thinking... https://github.com/postcss/autoprefixer/issues/381

[2015-01-12 14:24] eramdam opened #59 "Support for Repeating-radial/linear-gradient"
https://developer.mozilla.org/fr/docs/Web/CSS/repeating-radial-gradient
https://developer.mozilla.org/fr/docs/Web/CSS/repeating-linear-gradient

[2015-01-12 14:26] MoOx commented on #59
Can you provide expected input & output? Not sure if we can transform this into classic `*-gradient()`s.

[2015-01-12 14:29] eramdam commented on #59
Actually it would be only a matter of adding the corresponding vendor prefixes since it looks like it's supported on Chrome/Safari/Firefox with prefixes.
So I'd say something like that
[code]

[2015-01-12 14:30] MoOx commented on #59
So we should forward that to autoprefixer (poke @ai).

[2015-01-13 08:23] ai commented on #59
@eramdam Autoprefixer already adds prefixes [to repeating gradients](https://github.com/postcss/autoprefixer-core/blob/master/data/prefixes.coffee#L97).

[2015-01-13 08:26] MoOx commented on #59
Good to know.

Also, only really old browser need prefix http://caniuse.com/#feat=css-repeating-gradients so if you need to scope that you need to adjust your browser scope.

[2015-01-13 08:26] #59 closed

[2015-01-14 13:52] benfrain opened #60 "Support for data structures and loops"
One thing I would miss moving to cssnext from Sass would be data structures (maps) and loops.

Maps reference in  Sass:
http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps

Control directives and expressions reference in Sass:
http://sass-lang.com/documentation/file.SASS_REFERENCE.html#control_directives__expressions

Obviously, I recognise that this is certainly in the bonus features

[2015-01-14 16:31] MoOx commented on #60
CSS is not a programming language, so clearly -1 for if/else.
You might use (or not) some class in html/js as you need.

For the "DRY" part (maps/each...), you should follow where [this thread](https://github.com/postcss/postcss/issues/162) ends up.
cssnext can be used as a postcss plugin so you can chain cssnext with other postcss plugins.

That being said cssnext will only get w3c stuff to offer

[2015-01-14 16:31] #60 closed

[2015-01-14 17:01] MoOx commented on #60
I will add that by writing modular code with a component approach, I do not feel the need of this features anymore.

[2015-01-14 17:24] benfrain commented on #60
Really? How do you handle this kind of problem with cssnext:

http://benfrain.com/using-lists-with-maps-in-sass-3-3/

Generating 150 rules each with a slight variation (different border colours or background colours etc)

Is there some way of adding in custom JS functions to loop? Or would you just write it all 'long-hand'?

[2015-01-14 17:28] MoOx commented on #60
I will handle this kind of case with a simple templating solution (understand here: I will use a real programming language that will generate css files for me).
I don't think you need the 150 variations in the same CSS file (on the same page), don't you ?

[2015-01-14 17:29] MoOx commented on #60
Btw, you can totally write custom postcss plugin that will inject new CSS rules depending on some property/value sniffing. Check out postcss API for that :)

[2015-01-14 17:41] benfrain commented on #60
@MoOx yes, in this case, I actually did. An extreme case but a real one! :)

For lesser mortals such as myself I think the combination of a pre (Sass) and post (Autoprefixer) gives me everything I need right now. My JS-fu is weak so I can accomplish everything I need this way. Thanks for the info and responses though.

[2015-01-14 17:45] MoOx commented on #60
(even if you did need that in the same file, you can do that with templating).

I understand that Sass + autoprefixer make a lot of people happy enough to don't need anything else.

But I want to write future-proof code today, like when I write es6 :)

[2015-01-15 09:08] ahmedelgabri commented on #60
@MoOx I'd be interested to see an example using templating & CSS to handle a situation like this if you can.

[2015-01-16 06:39] MoOx commented on #60
[code]
Note: es6 with arrow function & template string. Should work in iojs natively or using 6to5-node :) (or with node --harmony maybe

[2015-01-16 07:19] ahmedelgabri commented on #60
@MoOx Thanks.

I understand the idea behind CSSnext is to be future friendly and follow the spec, but some kind of support for this will be useful, not in core ofcourse but maybe as an official plugin. I'm not a big fan of crazy logic inside CSS but some basic logic can be helpful.

From a maintainability point of view, now you need to maintain two files written in two languages (JS & CSS), if I u

[2015-01-19 19:09] MoOx commented on #60
@ahmedelgabri cssnext can be used as a postcss plugin, so you can totally chain it with some other plugins you want.

I don't have any good links to share yet. But I've to admit I just get one use case for this kind of templating in 2014. So didn't look like a big deal to me :)

[2015-01-26 11:19] MoOx commented on #57
fyi, postcss-url has been update to work with postcss 4.x, see #55

[2015-01-27 07:37] MoOx commented on #55
Everything is ready except pleeease-filters upgrade ([PR opened](https://github.com/iamvdo/pleeease-filters/pull/5)).

[2015-01-27 08:55] #58 closed

[2015-01-27 08:56] MoOx commented on #58
Ok I updated the tests to fix that issue. Not related to -webkit-transform directly but some other -webkit.
autoprefixer defaults are still relevant. So forget this issue.

[2015-01-27 08:58] MoOx commented on #57
By doing that, we are making a step to assets management. We should be careful. Do we enable that by default?
On another hand, since we inline ﹫import it make sense to adjust according to from/to options.
Not sure what we should do here.

[2015-01-27 09:08] #56 closed

[2015-01-27 09:09] MoOx commented on #56
I added several times the fact that cssnext can be used as a postcss plugin.

[2015-01-27 09:29] #51 closed

[2015-01-27 15:31] jasonkuhrt commented on #57
Please just make this work for the default case and workflow of npm / webpack / etc.

This the current hell I am in:

[code]

[2015-01-27 15:33] jasonkuhrt opened #61 "Disallow webpack from using cssnext as a loader"
Basically this should *never* happen https://github.com/webpack/webpack/issues/725#issuecomment-71663236!

[2015-01-27 15:56] MoOx commented on #61
Note sure we can handle in cssnext, since webpack probably try module as a simple function (cssnext is such a function, that take a string as first param).
This should be handled in webpack probably...

[2015-01-27 15:57] MoOx commented on #61
I am open to do something, but why... I've no idea.

[2015-01-27 15:59] MoOx commented on #57
Are you making node_modules accessible to your http server?
I've to admit I don't know what should be the default behavior when importing css files.
Just rebase the url from imported path to `to` location?

[2015-01-27 16:01] jasonkuhrt commented on #61
@sokra agree?

[2015-01-27 16:10] jasonkuhrt commented on #57
The default should be this:

- after every import look at the `url(...)`s in the child and re-write them according to where the child came from.

So:
[code]
[code]

`A` is concatenated to `B` so that the result is this:
[code]

Now, consider another example where `B`'s `index.css` is not in the root.
[code]
[code]

Result:
[code]

Does any of this not make sense?

[2015-01-27 16:10] jasonkuhrt commented on #57
I don't know what you mean

[2015-01-27 16:41] jasonkuhrt commented on #55
How can I help get this out the door?

[2015-01-27 16:42] MoOx commented on #55
I plan to do that tomorrow morning, should not be a big deal.
Otherwise, you can do that if you want it done before :)

[2015-01-27 16:46] jasonkuhrt commented on #57
@MoOx Just to be clear this is a deal-breaker for our webpack pipeline right now. As far as I can tell there's no workaround. Maybe if I fuss enough with the webpack config I'd get something working. Do let me know what other people are doing if you know.

[2015-01-27 16:50] MoOx commented on #57
The immediate workaround is to use postcss-loader with cssnext as a plugin in addition to postcss-url.
cssnext will get postcss-url in it probably tomorrow, with the upgrade to postcss v4.x

[2015-01-27 18:59] sokra commented on #61
I can imaging no non-breaking webpack change which would fix this, but I schedule a breaking change for 2.0...

You can add this to cssnexts package.json:

[code]

[2015-01-27 19:02] MoOx commented on #61
Maybe more something like

[code]

[2015-01-27 19:04] jasonkuhrt commented on #61
Hurray for untyped languages. @stresslimit

[2015-01-27 19:05] jasonkuhrt commented on #55
@MoOx I am working up a PR that will update deps and make sure all tests are passing. I have 8 failing tests, working my way down to 0 : )

[2015-01-27 19:05] MoOx commented on #55
Stop it right now.It's done. Pushing.

[2015-01-27 19:06] #55 closed

[2015-01-27 19:06] jasonkuhrt commented on #55
@MoOx ha cool ; )

[2015-01-27 19:07] MoOx commented on #55
release will wait for postcss-url being integrated with tests now #57 :)

[2015-01-27 19:13] sokra commented on #61
@MoOx This is supported, but it's only `"loader": "cssnext-loader"`

[2015-01-27 19:14] MoOx commented on #61
adding a "loader" key in a package.json with the name of the real loader to use warn the user ? That would solve the issue then... What did I miss ?

[2015-01-27 23:33] jasonkuhrt commented on #57
This seems to be hard to get right with slightly-random slightly-obscure documentation in various projects coupled with completely unhelpful error messages. I think taking a crack at https://github.com/cssnext/cssnext/issues/55#issuecomment-71707336 will be more fruitful.

[2015-01-27 23:33] jasonkuhrt commented on #55
@MoOx I'm going to try now.

[2015-01-28 06:46] MoOx commented on #57
Closed by d011ec602a8d2289315ccd5c660de737d7189169

[2015-01-28 06:46] #57 closed

[2015-01-28 06:52] MoOx opened #63 "Relocate `import` in API (not as a `feature` anymore)?"
Since ﹫import integration is sort of a bonus feature (like its new friend postcss-url), maybe we should move that out of the features list.
Like minification (via `compress` option), I think we should have `import` and `url`, not with all `features`.

With #32, features will be enabled/disabled according to the browsers scope so it doesn't make sense to keep those features into the `features` list

[2015-01-28 07:17] MoOx commented on #43
@yisibl seems to be going to take care of this https://github.com/postcss/postcss-image-set

[2015-01-30 09:10] MoOx opened #64 "Found a way to emit messages (error/warning)"
Currently some postcss plugins report some errors/warning using `console`.

When you got something like webpack-dev-server, it's just horrible to debug.
Sometimes you don't even see those messages, not sure why.

We need to add to all plugins that throw messages the ability to adjust what to use to handle errors & warnings.

We can
- throw some errors in plugins then handle the exceptions, but som

[2015-01-30 22:45] magsout commented on #63
+1

[2015-01-30 22:48] magsout commented on #57
IMHO, no

[2015-01-31 01:55] jasonkuhrt commented on #55
@MoOx Why don't we release a 0.7.0 now? Waiting for Autoprefixer right? @ai did that : ) https://github.com/postcss/autoprefixer/commit/64f087f405d9e6a9bd6214a41c3d38d074b9aac1

[2015-01-31 05:52] MoOx commented on #55
I'm finishing #63 before 0.7

[2015-02-01 07:46] MoOx commented on #61
@sokra do you confirm that adding `"loader": "cssnext-loader"` in package.json in `cssnext` package will make webpack look for `cssnext-loader` and throw an error if this package is missing?

[2015-02-01 07:46] #63 closed

[2015-02-01 07:48] MoOx commented on #55
Will release that tomorrow and bump all others packages.

[2015-02-01 15:47] magsout commented on #55
:+1:

[2015-02-02 08:44] MoOx commented on #55
@jasonkuhrt @magsout I'm not going to release a 0.7 and going to release 1.0 directly after #32 (I started working on that already). I think API & ABI are stable enough for a major release.
Maybe 1.0 will include #64 too.
Meanwhile, I think npm shrinkwrap might help to force current master for the tools you might use.

[2015-02-02 08:45] MoOx commented on #55
If possible I would like to release 1.0 on friday (my birthday ^^).

[2015-02-02 08:54] magsout commented on #55
heh, good to know ;)

[2015-02-02 13:51] jasonkuhrt commented on #55
: )

[2015-02-03 06:37] MoOx commented on #32
FYI, this is done and ready.
But I need to fix this issue https://github.com/Nyalab/caniuse-api/issues/18 in order to have a browserify build that works (for the playground).

[2015-02-03 07:59] Nyalab commented on #32
I take care of that very soon :smile_cat:

[2015-02-03 20:29] sokra commented on #61
Actually I think `"loader": "cssnext-loader"` is like `"loader": "./cssnext-loader"` and try to resolve to a file in the package. It works like the `"main"` field.

[2015-02-04 15:25] #32 closed

[2015-02-04 15:27] MoOx commented on #31
Now that #32 has landed in master, I will add rem and it might be disabled by default according to browserslist default.

[2015-02-04 20:46] #31 closed

[2015-02-06 06:21] MoOx commented on #64
Since this "feature" will not bring any breaking change, I am going to release 1.0 without that because I think it's better to bring new APIs first in PostCSS.
Here is a issue for that https://github.com/postcss/postcss/issues/177

[2015-02-06 15:27] MoOx opened #65 "import in 1.0.0 seems to be lot slower than 0.6.x"
@magsout reported to me that we got a x7 times.
I need to take a look to that.

---

Edit: not that much :)

[2015-02-06 18:22] MoOx commented on #65
@magsout result

before 1.0 (cssnext 0.6.6)

[code]

after 1.0

[code]

[2015-02-06 18:23] MoOx commented on #65
I just added a simple `benchmarks.js` script to see which feature is slow (runned on a very simple `test/fixtures/cases/example.css` file.

[code]

autoprefixer seems responsible :/

@ai any idea ?

[2015-02-07 02:10] ai commented on #65
Yeap, Autoprefixer has too difficult logic inside. I canceled many issues, because they will make Autoprefixer slower, but anyway we have too many checks and look backs.

But I will start optimization process.

BTW, anyway Autoprefixer is the fastest prefix solution right now :D.

[2015-02-07 02:58] ai commented on #65
Task about optimization: https://github.com/postcss/autoprefixer/issues/406

[2015-02-07 06:28] MoOx commented on #65
My previous bench was buggy.

Here is a more relevant

[code]

So autoprefixer is not that slow @ai. My bad.

@magsout I not really sure about how you can get slow result like that. Do you have a lot of import ?
If you don't want to share your CSS here, can you send that to me in private so I take a look ?

[2015-02-07 06:31] MoOx commented on #65
@magsout maybe you have a looots of import and a lot or url() references ?

[2015-02-07 06:44] MoOx commented on #65
I make some tests with 0.6.6 and got stuff like that

[code]

Result seems to be the same.

Note that import is not a feature anymore in v1.0 (it's an option). Like url. So I think I might be one of this 2, probably url option since it's new. If you inline, it might be the reason. Both import & url option use fs sync :/ (no choice for now).

[2015-02-07 06:44] ai commented on #65
I think anyway Autoprefixer speed up will be nice.

[2015-02-07 06:45] MoOx commented on #65
Always :)
But it's not the responsible for this weird difference in @magsout case.

[2015-02-07 10:31] magsout commented on #65
I tried on my MBA (yesterday I tried on another machine)

version `gulp-cssnext` : `0.6.0`
app.css : https://gist.github.com/magsout/64cd2b6465db13bf70bb

[code]

version `gulp-cssnext` : `1.0.0`
app.css : https://gist.github.com/magsout/64cd2b6465db13bf70bb

[code]

[2015-02-07 10:44] magsout commented on #65
If I runned only on `app.css` : `[11:34:38] Finished 'stylesheets' after 869 ms`

If I runned only on `admin.css` `[11:35:14] Finished 'stylesheets' after 3.8 s`

And yes, I have lot of import in that file.

[2015-02-07 20:16] magsout commented on #65
Here are the tests I made:

`gulpfile.js`:  https://gist.github.com/magsout/a649f3b0816c62a8f3e2
`app.css` : https://gist.github.com/magsout/ad133606f845eb735be4

gulp-cssnext : 0.6.0 - features: false
`[20:38:07] Finished 'stylesheets' after 414 ms`

gulp-cssnext : 0.6.0 - features: true
`[20:54:11] Finished 'stylesheets' after 628 ms`

gulp-cssnext : 1.0.0 - features: false
`[20:57:38] Finished

[2015-02-07 20:18] magsout commented on #65
@MoOx tell me if my tests are enough, of if you need anything else

[2015-02-07 22:07] MoOx commented on #65
Can you try with url to false too ?

[2015-02-07 22:18] magsout commented on #65
with `url`

gulp-cssnext : 1.0.0 - features: false - url : false
`[23:12:25] Finished 'stylesheets' after 3.9 s`

gulp-cssnext : 1.0.0 - features: false - url : true
`[23:12:10] Finished 'stylesheets' after 4.18 s`

No `import`, all CSS in one file (about 10 000 lines) - url : false
gulp-cssnext : 1.0.0 - features: false
`[23:15:52] Finished 'stylesheets' after 596 ms`

No `import`, all CSS in one

[2015-02-10 07:30] MoOx commented on #65
So it clearly seems related to a postcss-import change. We need to take a deeper look into that.

[2015-02-10 07:32] MoOx opened #66 "Add browsers option for CLI"

[2015-02-14 23:11] johanalkstal opened #67 "Cannot read property 'type' of undefined when file has :root"
I have two files,

`// style.css`
[code]
`// variables.css`
[code]

Running `cssnext style.css` does not work.

[code]

But if I remove `:root { }` from the imported file, it works.

[code]

Why?

[2015-02-15 09:02] MoOx commented on #67
2 bugs in one :)
One plugin doesnt keep ast clean by not providing a proprr parent property (probably postcss-import) and pixrem is calling a prop on a value that can be undefined. I will  take a look to both.

Thanks for reporting!

[2015-02-15 22:19] MoOx commented on #67
@ai do you change anything related to removeSelf() in latest release ?
This bug seems to happen because the :root removal https://github.com/postcss/postcss-custom-properties/blob/604168e4e28379c3a42c8a8255957a65ec6b2c27/index.js#L67-L70

If you take the example provided above, you can try this in your console:

[code]

To debug I used this

[code]

Here you will have undefined. If you disable cus

[2015-02-16 06:52] MoOx commented on #67
Closed by https://github.com/postcss/postcss-import/commit/7b5fa01a764eeef7939668d0c0b5380ba16d2b09

Responsible was postcss-import v5.0.2, 5.0.3 fixes this bug.

Please uninstall and reinstall cssnext to benefit of this patch automatically (via npm, semver will do the job for us)

[2015-02-16 06:52] #67 closed

[2015-02-16 16:14] madx opened #68 "`cssnext --watch` exits when there is an error"
If in launch `cssnext` with the `--watch` option and if there is an error in my source CSS, the whole process crashes because of the thrown exception and I have to launch it again from the command line.

IMO it would be much more useful to continue waiting for changes so the user has the opportunity to fix his mistakes without having to relaunch `cssnext`.

[2015-02-16 20:44] MoOx commented on #68
Good idea. PRs are welcome ;)

[2015-02-18 09:36] #68 closed

[2015-02-20 09:57] MoOx commented on #65
Cannot reproduce with the private data you send me @magsout.

[2015-02-20 09:58] magsout commented on #65
seems ok now

[2015-02-20 09:58] #65 closed

[2015-02-21 19:44] ai opened #70 "Do you need postcss-will-change"
I wrote [postcss-will-change](https://github.com/postcss/postcss-will-change) as polyfill to `will-change` property. Unfortunately, it is not ideal, because it just insert `backface-visibility: hidden` before `will-change`. Backface visibility is safer that `transform` but anyway it can broke user styles in some rare cases.

But maybe it will be useful in cssnext?

[2015-02-23 07:22] MoOx commented on #70
How the backface trick is helping to support `will-change` property ?

[2015-02-23 09:25] ai commented on #70
It creates new composite layout. Absolutely like `will-change` does.

[2015-02-23 09:41] MoOx commented on #70
Good. Any link to the specs about that ?

[2015-02-23 09:42] ai commented on #70
http://dev.w3.org/csswg/css-will-change/

[2015-02-23 10:15] MoOx commented on #70
I understand your trick but not sure there is no side effect. What if someone want to use the backface of an element ?
I am pretty sure @tabatkins will tell us it's completely a crazy idea :)

[2015-02-23 10:57] ai commented on #70
@MoOx yeap, I mentioned in first comment about side effectsof this polyfill.

But backface is needed only if you use 3D transformations. And with 3D transformations you doesn’t need `will-change`, because 3D transform creates composite layout.

[2015-02-23 16:58] ai opened #71 "cssnext users"
Maybe you know some big teams, that uses cssnext and PostCSS. It will be helpful in PostCSS promotion. For example [in threads like this](https://twitter.com/zackvbrady/status/569890809941786624).

[2015-02-23 16:58] ai commented on #71
/cc @MoOx

[2015-02-23 17:01] MoOx commented on #71
I think Twitter use PostCSS now (poke @necolas) ? Not sure if they use cssnext or directly postcss with plugins.
I am pretty sure that play.tv and overblog use cssnext (poke @_kud @Nyalab).
No idea for others.

[2015-02-23 17:02] MoOx commented on #71
@ai: You don't need to cc me for cssnext & postcss, I get all issue notifications by email since I watch those projects ;)

[2015-02-23 17:03] ai commented on #71
@MoOx sorry :). I receive emails only after first mention.

[2015-02-25 12:39] ai commented on #71
WordPress [uses](https://twitter.com/netweb/status/570040077243392000) RTLCSS

[2015-02-26 07:40] hgl opened #72 "Allow specifying a variables file with a cli option?"
Since `postcss-custom-properties` accepts a `variables` option, I wonder if you are interested in allowing the cli to accept a json/yaml file path option, which will read its file content and pass the json object to `postcss-custom-properties`?

I can send a pull request if you are interested in merging.

[2015-02-26 07:57] MoOx commented on #72
Maybe a more generic way to provides options from a config file for CLI ?

[2015-02-26 08:14] hgl commented on #72
Then the `variables` json object should be directly embedded in the config file or only the file path?

My use case is that I need to expose some css variable values to my js scripts, and my plan is to save these values in a json file. cssnext will read it when processing css files, and my js files will require it before accessing it. That way, these values are available to both css and js.

It wo

[2015-02-26 08:50] MoOx commented on #72
I don't really want to accept an option for just an option of an features. If anyone ask for this, we will end up with shitty spaghetti code.

By more generic I mean a config file that can like a .rc file

[code]
cssnext.json

[code]

From js you can do

[code]

If you need do that too many times, you can imagine a module

./cssvars.js

[code]

Then

[code]

[2015-02-26 09:28] hgl commented on #72
I initially didn't want to take this approach because I would eventually bundle the js files, and the bundled file was going include the whole json file, not only the variables part.

But I think your concern about supporting too many options is valid, if `variables` is supported as an external file, why not supporting custom media queries also for example? The config file approach is very scalabl

[2015-02-26 16:09] bloodyowl commented on #72
@MoOx how about a `cssnext.config.js` that can require another module for variables?

[2015-02-26 18:45] MoOx commented on #72
Yeah I was more thinking about that. But @hgl just want a simple file for variables. I don't see how we can make this simple & not super specific for cli interface.

I will open a new issue for a generic config file that can be used.

[2015-02-26 18:47] MoOx opened #73 "Generic config file"
Following #72

What about supporting these file:

- (.)?cssnext.json
- (.)?cssnext.yml
- .cssnextrc (json or yaml)
- (.)?cssnext.config.js (that exports config)

[2015-02-27 05:16] hgl commented on #73
Do you mean a config file that the CLI will automatically look for (in cwd?) when it executes?

[2015-02-27 05:56] MoOx commented on #73
Yep

[2015-02-27 07:31] hgl commented on #72
@bloodyowl In #74, I used something like `require(configPath)`, so if `configPath` points to a module file, it should also work.

[2015-03-04 16:23] ShaggyDude opened #76 "strippable comments like sass"
In sass you can do regular comments that don't get stripped but,
/* comment that is output */
single line comments that do get stripped from output,
// comment that is only in the source file

This is very handy and encourages longer comments in source that do not adversely affect final file size

[2015-03-04 16:26] kud commented on #76
I must admit, I loved that in Sass.

[2015-03-04 17:14] MoOx commented on #76
cssnext is only following CSS specs. If there is nothing about that I won't add anything in this direction.

That being said, remember that you have a `compress` option that is probably removing some comments (via csswring) if you care about filesize.

Note: do you know that you "can" use inline comments http://www.xanthir.com/b4U10 ?

[2015-03-05 05:47] #71 closed

[2015-03-05 05:47] MoOx commented on #71
It seems for now, people don't want to share this kind of info :)

[2015-03-05 06:39] MoOx commented on #72
Closed by 224b6b6d0e4ebc1a92d11ebc3bd000257f5be055

[2015-03-05 06:39] #72 closed

[2015-03-05 06:40] #66 closed

[2015-03-05 06:49] MoOx commented on #66
Released in 1.1.0

[2015-03-10 14:24] MoOx opened #78 "--watch didn't check for changes in imported files"
To get a serious --watch option, we should handle this. Or drop --watch.

[2015-03-13 13:56] Paulmicha opened #79 "npm ERR! Failed at the caniuse-api@1.2.2 postinstall script"
Tentative installation (Ubuntu 14.04.2 LTS, node -v v0.10.36, npm -v 1.4.28) - error message dump :

[code]

[2015-03-13 14:00] Paulmicha commented on #78
Similar issue : https://github.com/suitcss/preprocessor/issues/3 -> https://github.com/philipwalton/deep-watch ?

[2015-03-13 15:38] MoOx commented on #79
It seems shelljs has not been installed correctly. Can you try reinstalling cssnext ?

[code]

If problem persist try cleaning shelljs npm cache

[code]

[2015-03-13 15:41] MoOx commented on #78
We should plug a callback on postcss-import#onImport option to listen on every imported file.

[2015-03-13 16:34] Paulmicha commented on #79
Still fails, here's what I tried :

1. `npm rm cssnext`, got : `npm WARN uninstall not installed in /srv/i.paulmichalet.lan-0-25.io/sites/all/themes/ipaul/css/node_modules: "cssnext"`
Then same error when attempting `npm i cssnext`

2. `rm -rf ~/.npm/shelljs` then `npm i cssnext` ->  same error

3. `rm -rf ~/.npm/shelljs`, then `npm install shelljs -g` and `npm i cssnext` ->  same error

Here's th

[2015-03-13 18:19] MoOx commented on #79
Just in case, which version of node are you using ?
@nyalab did you push anything to caniuse-api recently ? (Just checking from mobile ^^)

[2015-03-13 18:44] Paulmicha commented on #79
0.10.36

[2015-03-13 20:43] MoOx commented on #79
Cannot reproduce for now.
This is weird because caniuse-api correctly have https://github.com/Nyalab/caniuse-api/blob/master/package.json#L15
Also tests are ok on travis, which is a linux setup. Not sure what the fuck is happening :/
Try `rm -rf ~/.npm` maybe ? `rm -rf node_modules`, and reinstall cssnext ?

[2015-03-17 07:55] MoOx commented on #79
@Paulmicha did you still have this issue ?

[2015-03-17 08:32] MoOx commented on #78
You can play with a WIP by doing `npm install cssnext/cssnext#watch-imported`.
There is still a minor issue related to the watcher https://github.com/paulmillr/chokidar/issues/258

[2015-03-17 08:32] #76 closed

[2015-03-19 07:57] mymai91 commented on #47
Good solution. Thanks

[2015-03-19 12:54] MoOx opened #80 "Support CSS nesting"
I am opening this issue just for people who want to follow the evolution of @tabatkins unofficial draft

http://tabatkins.github.io/specs/css-nesting/

If this become a official draft, we might consider adding this into @postcss parser and create a plugin to transform that.
We also might consider possible side effects.

[2015-03-19 19:09] Paulmicha commented on #79
\o/ \o/ \o/ It worked, thx a lot ^^
Wonder if there was an interaction with my existing suitcss (global) installation or something...
Anyways :+1:

[2015-03-19 19:09] #79 closed

[2015-03-19 23:57] bloodyowl commented on #80
yeah … even if intuitively I'd advice against it, we need to support this if we're keeping cssnext's motto.
plus they're edge use-cases (like markup you don't control, code highlight, markdown parsed …)

[2015-03-23 14:42] MoOx opened #81 "Add postcss-pseudoelements when browsers include IE 8"
https://github.com/axa-ch/postcss-pseudoelements

[2015-03-23 15:14] magsout commented on #81
:+1:

[2015-03-27 19:09] lyzadanger commented on #30
You can also nest `@supports` per the conditional module that covers nesting `@media` (any combination can be nested): http://dev.w3.org/csswg/css-conditional-3/

http://jsbin.com/xoqeso/2/edit

[2015-03-27 19:48] magsout commented on #73
`cssnext.json` Sounds good.

Any plan about that ?

[2015-03-27 20:09] MoOx commented on #73
I don't plan to implement that in a near future. That being said, PRs are always welcome (note: maybe we should discuss a little bit on the implementation before pushing this)

[2015-03-27 20:26] magsout commented on #73
This option interests me. I rather like to use a json configs. Especially I want to delete gulp on my workflow. We discuss on irc next week if you're available

[2015-03-28 05:47] MoOx commented on #17
We might want to port this https://github.com/michelle/rework-matches

[2015-03-28 22:34] Macxim opened #82 "Wrong output of color() in cssnext playground"
In [cssnext playground](https://cssnext.github.io/cssnext-playground/),
`color( [ <color> ] [red( | green( | blue( | alpha( | a(] ['+'] [<number>] ) )` doesn't seem to render properly.
No problem with `['-'] ` though.

[code]
will render in
[code]
I can't seem to reproduce this issue anywhere else.

[2015-03-30 07:14] MoOx commented on #82
playground is just outdated.
This bug should be related to something like this https://github.com/ianstormtaylor/css-color-function/blob/master/History.md#121---march-16-2015 (fixed)

caniuse-api wasn't fully compatible with browserify so playground was outdated + adjusted by hand in order to work for 1.0.0 release.

I have made a PR so we can bump playground and close this issue: https://github.c

[2015-03-30 08:29] Macxim commented on #82
Alright, thanks for looking into it.

[2015-03-30 09:04] MoOx commented on #82
Closed by https://github.com/Nyalab/caniuse-api/commit/01fb024b3f8585523a60efb15b836e4dde57a5bf + https://github.com/cssnext/cssnext-playground/commit/4c36dfa5b489e6211693906cf3e934d5ac179941

[2015-03-30 09:04] #82 closed

[2015-03-31 07:56] RGBboy opened #84 "Update caniuse-api to 1.3.1 so windows works"
caniuse-api just added a fix that was breaking installation on windows. If the dependency on caniuse-api is updated to 1.3.1 cssnext will now work on windows. I can put a pull request together if you like.

[2015-03-31 08:11] MoOx commented on #84
It's not required. npm caret `^` will install the fix automatically (semver ftw).
If you have the bug on your setup, just uninstalll & reinstall cssnext, your will get the fix automatically.
Thanks anyway ;)

[2015-03-31 08:11] #84 closed

[2015-03-31 08:16] RGBboy commented on #84
You are right! I always thought the caret only installed patches, learn something new everyday. Thanks MoOx.

[2015-03-31 15:20] kud opened #85 "Add this tip maybe in the doc (if not already added)"
I've got lots of projects which require themselves other projects. I have the same folder/file convention naming in each of these project and it could create some non explicite conflicts.

Why? Because I do that: `@import "views/index.css";`

cssnext can be lost if you do `@import "views/index.css";` in a submodule and in your module, you've already have `"views/index.css"`.

To fix it, you have t

[2015-03-31 23:11] bloodyowl commented on #85
as it works just like npm, browserify & webpack (which rely on the same convention), I don't think this is necessary. moreover it is documented here https://github.com/postcss/postcss-import#postcss-import--

[2015-04-01 05:04] MoOx commented on #85
`@import "views/index.css";` and `@import "./views/index.css";`  are just exactly the same, per CSS spec. Except if `views` is a module. But I think local files are resolved first.
If you want to do something, please first open a PR on postcss-import with tests to describe an eventual real issue.

[2015-04-01 05:04] #85 closed

[2015-04-02 04:44] MoOx commented on #64
postcsss 4.1 is out with the requested API. We "just need" to update all plugin that output warning and stuff.

[2015-04-02 04:50] magsout commented on #64
Let's GO

[2015-04-02 05:57] #81 closed

[2015-04-02 06:04] #78 closed

[2015-04-03 11:58] ooflorent opened #87 "Support cssnextrc"
Babel does it and it is awesome. Doing so babel is able to share config through every 3rd party integration libraries.

So please, give us the ability to mimic this behavior with cssnext!

![](https://media3.giphy.com/media/12JzvQ2kUlccN2/200.gif)

[2015-04-03 12:00] Nyalab commented on #87
:+1:
![](https://31.media.tumblr.com/7210a29fdf7fce29bf9ef96f0c6306cd/tumblr_inline_nf9bsuffBT1t3lpra.gif)

[2015-04-03 12:02] MoOx commented on #87
Closing in favor of #73

[2015-04-03 12:02] #87 closed

[2015-04-03 12:03] ooflorent commented on #87
My bad

[2015-04-03 12:13] MoOx commented on #87
Please guys, express yourselves about the format you would like to have ;)

[2015-04-03 12:15] Nyalab commented on #73
.cssnextrc with a json syntax

[2015-04-03 12:16] magsout commented on #73
@Nyalab
why *rc ?

[2015-04-03 12:33] MoOx opened #88 "Add postcss-message to show postcss 4.1 message output ?"
Related to #64

What do you think about that as an option?

https://github.com/postcss/postcss-messages

![](https://camo.githubusercontent.com/b0abb0db5d0b273d4335e02667e842b22175d0b7/687474703a2f2f706f73746373732e6769746875622e696f2f706f73746373732d6d657373616765732f73637265656e73686f742e706e67)

[2015-04-03 12:41] MoOx commented on #73
if we support json, I guess we can easily support js too (trick: export a js object).

Do you think yml support is useless ?
I found yml easier to maintain than json (and it accept comments) but I think I will use JS anyway (especially to require shared variables).

[2015-04-03 13:28] magsout commented on #88
:+1:

[2015-04-03 13:44] MoOx commented on #88
I will go for a custom skin by default with the logo/color of cssnext. Do you think it's a good idea ?

[2015-04-04 05:23] MoOx opened #89 "Add support for rgba fallback as hexa for IE < 9"
https://github.com/TrySound/postcss-color-hex

[2015-04-04 05:24] MoOx commented on #89
http://caniuse.com/#feat=css3-colors

[2015-04-04 12:32] magsout commented on #88
I think yes. We will see that the error is raised by cssnext

[2015-04-04 15:30] idoo commented on #30
yes, i think it's really cool feature

[2015-04-06 15:26] hgl opened #90 "extract option fully implemented"
I have a fully implemented and tested cssnext fork in my [extract branch](https://github.com/hgl/cssnext/tree/extract) that is able to this:

config.js
[code]
style.css
[code]
[code]
=>

[code]

From our previous discussion, you were worried the implementation will be a hack.

I just want to demonstrate it's not. I only added an `append` option to the custom properties and custom media plugin, whi

[2015-04-08 04:17] MoOx commented on #88
Also for cli https://github.com/davidtheclark/postcss-log-warnings

[2015-04-09 13:43] kud opened #92 "Weird bug, can't explain it in the title yet"
I have two modules which have the same folder structure.

Both have also an `index.css` in the root, which does:

[code]

If I do in my main project:

[code]

It will only import the first line. If I switch the lines, it will import so `mobule-b` but not `module-a`, always the first line.

The workaround is to do that:

[code]

This works.

(Be sure this one doesn't work too:

[code]
)

I need to

[2015-04-09 13:45] MoOx commented on #92
Explanation is here https://github.com/postcss/postcss-import/issues/31#issuecomment-88735346
Closing in favor of this linked issue.
I will try to handle that. Remember that PR are always welcome.

[2015-04-09 13:45] #92 closed

[2015-04-12 09:01] magsout commented on #89
We need to create a new plugin ?

postcss-color-hex-alpha transforms RGBA hexadecimal notation to rgba, but it missed postcss-color-rgba witch transforms RGBA to rgb, no ?

[2015-04-12 10:41] MoOx commented on #89
yeah

[2015-04-13 13:36] voronianski opened #93 "Compile folder of .css files at once"
It will be handy to have such possibility, smth like:

[code]

[2015-04-13 13:39] MoOx commented on #93
Maybe we can just accept a glob for the input filename ?
Like

[code]

Not sure if it's a good idea since some shell (eg: zsh) might resolve the glob as multiple filenames.

[2015-04-14 19:11] MoOx opened #94 "Consider switching compressor"
https://github.com/ben-eb/cssnano

[2015-04-16 08:58] MoOx commented on #89
Closed in favor of #95

[2015-04-16 08:58] #89 closed

[2015-04-17 00:39] teddybradford opened #96 "Inline sourcemap not working"
I'm using Gulp to run a task that processes my CSS through PostCSS with the cssnext plugin. Here's the task config:

[code]

My `index.css` file has a bunch of `@import` lines, making use of the postcss-import feature included in cssnext.

Unfortunately, the resulting CSS file outputted by the Gulp task has no inline sourcemap at the end of it. Any idea why?

[2015-04-17 04:11] MoOx commented on #96
The thing is cssnext is not just a postcss plugin. You can use it directly and that the main goal of this tool. That why some options are just proxies to postcss options. (also, you can use gulp-cssnext)
In your case I think you should pass sourcemap & from to postcss directly.

Btw why are your using rem: false when your browser scope do not target old IEs ?

[2015-04-17 04:45] teddybradford commented on #96
Thanks! That helped me figure out where to look to get sourcemaps working. The `gulp-postcss` package has [sourcemaps disabled by default](https://github.com/w0rm/gulp-postcss#source-map-support).

`rem: false` disables the `px` unit fallback, which I don't require for my project. The last 2 versions of IE can use REM [except when used in the font shorthand property or in pseudo elements](http://c

[2015-04-17 04:45] #96 closed

[2015-04-20 11:33] MoOx commented on #94
Or maybe we should just get rid of the compressor in cssnext.

[2015-04-22 08:24] MoOx opened #97 "custom selectors support incorrect syntax"
https://github.com/postcss/postcss-custom-selectors/issues/6

[2015-04-22 11:40] dfcreative opened #98 "Cannot use cssnext with postcss-cli"
Hello. I see basic-case error on ubuntu, using cssnext as a postcss plugin.
postcss@4.1.5 is installed globally.
cssnext@1.3.0 is installed globally.

`index.css`:
[code]

Running
`$ postcss -u cssnext index.css -o bundle.css`

returns

`[TypeError: object is not a function]`

Why?

[2015-04-22 11:45] MoOx commented on #98
Can you provide the stacktrace please ?

[2015-04-22 11:48] MoOx commented on #98
I cannot reproduce it on the playground http://cssnext.github.io/cssnext-playground/

[2015-04-22 13:05] dfcreative commented on #98
Stacktrace from postcss-cli error callback:
[code]

[2015-04-22 13:28] MoOx commented on #98
I am guessing it's more a postcss-cli bug or a integration to improve.
poke @ai @code42day

[2015-04-22 13:32] dfcreative commented on #98
Yep. Found that https://github.com/code42day/postcss-cli/blob/master/index.js#L52 contains strange result of parsing: `[ { plugins: [ [Function], ... ]}]`, which seems to be extra wrapped.
Unwrapping it like `plugins = plugins[0].plugins` solves the trouble, still can't find why.

[2015-04-22 13:41] dfcreative commented on #98
@MoOx it seems that it's still cssnext's issue, as autoprefixer and any other plugin works just fine, whereas cssnext fails.
I've found that [here](https://github.com/code42day/postcss-cli/blob/master/index.js#L57) autoprefixer and others returns [Function], whereas cssnext returns object containing list of plugins: `{plugins: [Function], [Function], ...}`

[2015-04-23 20:21] ShaggyDude commented on #80
Please support this either way. it just makes sense!

[2015-04-24 05:00] MoOx commented on #98
cssnext is a postcss instance already (because it's not "just" a plugin, but a wrapper that use plugins).
postcss core accept that to be used (see passing tests https://github.com/cssnext/cssnext/blob/12ae1f320fd23f8590d880cad7f18d1bde889146/test/api.js#L22-L25)

So I think it's more a postcss-cli issue, really. @code42day can you take a look please ?

[2015-04-24 13:37] magsout commented on #94
it's more a clone of cssnext than a compressor ?

[2015-04-24 13:39] MoOx commented on #94
Humm not from what i see in the first place. Only postcss-calc looks duplicated.

[2015-04-24 13:47] magsout commented on #94
you're right. There are many optimization, code cleanup. So why not.

What's your idea ?  Only use instead of `csswring` with all the options that seem interesting to activate by default? Or give the possibility to configure the options?

[2015-04-24 14:09] MoOx commented on #94
All of that? :)

[2015-04-24 14:24] magsout commented on #94
lol ok :+1:

[2015-04-25 06:10] MadLittleMods opened #99 "var declared in media query should pull in properties that use/reference that var"
[code]

I expect or should result in:

[code]

---

Is this a correct understanding?

Playing around in the [`cssnext` playground](https://cssnext.github.io/cssnext-playground/), I am getting different results.

I understand this could get a little tricky in a [situation like described here](https://github.com/sass/sass/issues/1639#issuecomment-74316733).

[2015-04-25 06:57] magsout commented on #99
https://github.com/postcss/postcss-custom-properties/blob/master/README.md

The transformation _is not complete_. It currently just aims to provide a future-proof way of using a **limited subset (to top-level `:root` selector)** of the features provided by native CSS custom properties.
Read [#1](https://github.com/postcss/postcss-custom-properties/issues/1) & [#9](https://github.com/postcss/postcs

[2015-04-26 02:16] MadLittleMods commented on #99
## Put it behind a flag

I think the limitation is valid for being implemented as a default. I think if this **feature would be best suited behind a flag**. It would cover/solve the actual use cases that I have seen throughout the issues you linked, issues on the Sass repo, etc.

## Unknown DOM Structure

For starters, the flag would only enable `:root` level adjustments to avoid the "magic" neede

[2015-04-26 04:39] MoOx commented on #99
I think the example in #9 is pretty clear about the huge issue with the first solution (inject after each :root definition).

[code]

Input:

[code]

Output (notice `One` now overrides `Two`, which it would not with a native solution):

[code]

But I've to admit, with my brains that is just waking up, the second solution seems to be not that bad. I've added a comment here about it https://github.c

[2015-04-26 06:00] MadLittleMods commented on #99
@MoOx I think your example/use-case is outside of the scope of this feature in terms of a reason to shoot down this feature as a whole but a completely valid case for why it may be best to put it behind a flag. The [cascade solution `#2` proposed earlier](https://github.com/cssnext/cssnext/issues/99#issuecomment-96309655) does solve this problem as you mentioned though.

While `#2` clearly seems b

[2015-04-26 06:11] MoOx commented on #99
I might start to work on solution `#2` soon.
Any idea on the name of the option to enable this ?
`handleRootDeclarationsInMediaQueries` (lol)?

[2015-04-26 06:34] MadLittleMods commented on #99
@MoOx

Note: I suppose this should probably work with `@support` directives as well.

Since it is a bool, maybe prepend a `should` in front of some of these.

 - `handleRootVariables`
 - `handleRootVariableChanges`
 - `handleAnyRootVariable`
 - `enhanceRootVariables`
 - `enhanceRootVariableSupport`
 - `enhanceRootVariableTransformation`
 - `completeRootVariableTransformation`
 - `rootVariableCompl

[2015-04-26 09:46] MoOx commented on #99
Good point for `@support` and some others @ directives (`@page`?).

What about `enableUnsafeTransformation` (`enableDangerousTransformation`?). Or maybe just `unsafe` with a clear doc on what it will enable.

[2015-04-26 19:15] magsout commented on #94
Two things:
- options like `sourcemap`, `calc`, and `urls` are disabled by default? cssnext already using its function.
- If I look at the documentation I see no option to disable the `postcss-pseudoelements` option, which is not great for cssnext

[2015-04-27 04:07] MoOx commented on #94
Maybe @ben-eb can helps us on that ?

[2015-04-27 04:09] MoOx commented on #98
I've created an issue on postcss-cli about that https://github.com/code42day/postcss-cli/issues/11

[2015-04-27 04:32] MoOx opened #100 "How should we handle "level"/stability of features?"
http://babeljs.io/docs/usage/experimental/

Reference: http://www.w3.org/Style/CSS/current-work#legend

[code]

It's a lot. Maybe too much ?

[2015-04-27 04:34] MoOx commented on #80
It seems like postcss already parse the snippet below (I just tested in the playground, it gives the same result without exception). Probably a good side effect of the parser.

[code]

So we should be able to handle that. We need to create a postcss-nesting and use it under stage 0 (ref #100)

[2015-04-27 04:37] MoOx commented on #100
Also that might helps for some possible feature https://github.com/postcss/postcss/issues/140

[2015-04-27 04:42] MoOx opened #101 "complete rewrite using es6 via babel"
Because babel is cool & es5 sucks when you write es6/7 for more than a week.
We will need to move code in src/* and provide dist/* for npm

After that I hope @sebmck will use cssnext for babel website :D.
Just kidding.

[2015-04-27 04:47] MoOx opened #102 "Include website source in this repo"
I always forget to work on the website. Maybe with the source here we might update it sometimes.
Also we need to work on it. Single page website sucks. Babeljs website is so cool.

[2015-04-27 04:48] MoOx opened #103 "Include playground in website"
So we get updates as soon as we make a new release.

[2015-04-27 05:02] MoOx opened #104 "replace jshint + jscs by eslint"
Related to #101 with babel-eslint

[2015-04-27 05:15] magsout commented on #100
it's interesting and I like the idea.

it is the standard w3c...

[2015-04-27 08:05] ben-eb commented on #94
Sure; the architecture is similar to cssnext in that you can disable processors, although some of those I opted to not disable as they are safe optimisations. e.g since postcss-pseudoelements v2, the single colon syntax of before and after is supported across all browsers so is safe to minify.

Of course, I can add the option to disable these if you would like.

[2015-04-27 08:29] MoOx commented on #94
It's not necessary since we are using this plugin only to ensure ie8 compat (so if IE 8 is not in the scope, we won't enable it).
Your arguments looks good enough for me. Thanks.

[2015-04-27 10:00] magsout opened #105 "caniuse-api arror"
[code]

[2015-04-27 10:16] MoOx commented on #105
It seems it's not related to this module. Noobzor http://stackoverflow.com/questions/8965606/node-and-error-emfile-too-many-open-files

[2015-04-28 07:43] magsout commented on #105
thanks

[code]

[2015-04-28 07:43] #105 closed

[2015-04-28 07:51] magsout commented on #100
List of some css4 selectors http://css4.rocks/css4-selectors/

[2015-04-28 08:03] MoOx commented on #100
Hum not sure what you mean. cssnext is about the syntax and might not handle a lot of new selector (except :matches maybe).

[2015-04-28 08:03] MoOx commented on #100
oups

[2015-04-28 08:43] MoOx opened #106 "Add support for CSS selector level 4 :not()"
In css3, not handle on selector only. Now it can take multiple values

http://css4.rocks/css4-selectors/negation-pseudo-class.php

So I guess we can transform this

[code]

into

[code]

[2015-04-28 08:51] kud commented on #106
:+1:

[2015-04-28 09:18] magsout commented on #100
it's just to give plugin ideas that can be created

[2015-04-28 09:19] magsout commented on #100
https://github.com/cssnext/cssnext/issues/106 and https://github.com/cssnext/cssnext/issues/17

[2015-04-28 09:20] MoOx commented on #100
yes sure. And #80

[2015-04-28 16:21] magsout commented on #94
@MoOx

yes, but `cssnext` consume `cssnano` after, so if IE 8 is not in the scope, `cssnano` doesn't matter and manage selector like after: and before: ?

And what do you think about `sourcemap` , `calc` ? We let users enable or disable those features ?

[2015-04-28 16:29] ben-eb commented on #94
@MoOx @magsout I think you are better to wait until this attribute selector bug is fixed before you migrate. :smile:

https://github.com/ben-eb/postcss-minify-selectors/issues/2

[2015-04-29 04:35] MoOx commented on #94
@magsout you write `::`. If the compression convert to `:` do you really care ? I don't think you should since you asked for the smallest possible size :)
`sourcemap` will need to be adjusted according to cssnext value.
`calc` should be disabled indeed.

[2015-04-29 04:38] magsout commented on #94
LGTM

[2015-04-29 05:23] magsout commented on #106
:+1:

[2015-04-29 05:40] jonathanong opened #107 "write to a separate source map file from CLI"
right now, you can only inline source maps. any way to allow separate source map files?

[2015-04-29 05:55] MoOx commented on #107
https://github.com/cssnext/cssnext#map-default-depends-on-sourcemap

Is this enough for you ?

[2015-04-29 06:05] jonathanong commented on #107
sorry. has to be more specific. i'm currently trying via CLI w/ the watcher. trying to avoid a custom node.js script :)

[2015-04-29 06:08] MoOx commented on #107
Hum so I think I've done nothing yet. Maybe we should handle #73 to allow options from json ?

[2015-04-29 06:11] MoOx commented on #107
Maybe you can check if `--config` can help you (you can provide a .js config)...
Hum it seems -map option doesn't exist yet. Should not be that hard to add around here https://github.com/cssnext/cssnext/blob/62aeafb32a8d8f50a655152486bad0bac65e25b4/bin/cssnext.js#L72
PRs are welcome :)

[2015-04-29 06:20] jonathanong commented on #107
yeah was looking into the config. i can add ` .map` option to the config, but the source map is still not saved.

how would you want the option to look like? `--map <filename>`?

[2015-04-29 06:56] MoOx commented on #107
--sourcemap is already inlining normally, so I guess if you use --map you must provide a filename. But yeah we can do that :) That should enable as well map entry in config file from wat I see in the code (I did not create the --config option).

[2015-04-29 14:45] MoOx commented on #17
Done. I will release postcss-selector-matches and include it in cssnext tonight ir tomorrow :)

[2015-04-29 17:12] magsout commented on #17
@MoOx good job (again?)

[2015-04-29 20:27] MoOx opened #109 "add gitter on website near irc channel"
we seriously need a better website.
babel one is really cool.

[2015-04-29 21:31] jonathanKingston commented on #104
I would be interested in helping pick this up to get me into the source unless you are stuck into it? (Just trying to find a way to cut in and help)

[2015-04-29 22:33] jonathanKingston opened #110 "Support all reset"
It seems a useful reset to have:
http://www.w3.org/TR/css-cascade-3/#all-shorthand

The generated syntax may however be very heavyweight listing all rules; it may be worth allowing some level of customisation in the generated output just to reset a chosen list if there is one specified.

Thoughts?

[2015-04-29 22:39] jonathanKingston commented on #100
Certainly #80 would be something that is most important to be excluded due to it being 0.

I think this makes more sense than turning off individual filters so no seems complete sense and not too much.

[2015-04-30 03:17] MoOx commented on #110
Sure this will be generating a looot of css. But if it's doable with not ?
Maybe we can add this under a flag so user only enable that kind of huge output option by hand ?
That said, since css vocabulary is pretty short, I guess gzip will do an amazing job on that kind of output, am I right ?

[2015-04-30 03:33] MoOx commented on #104
This issue is somehow related to #101

Here is the eslint file I am using

[code]

You can take it if you want, cssnext is not that huge (only index.js < 200 lines + test/*)

[2015-04-30 04:36] MadLittleMods commented on #99
Just released [`postcss-css-variables`](https://github.com/MadLittleMods/postcss-css-variables) to cover the use case this issue brings up.

 - Removes `:root` level variable declaration limitation
 - Usage in At-rule `@media`, `@support`

At the moment, it still needs a bit of clean up and readme refactoring but is completely functional.

[2015-04-30 04:47] MoOx commented on #99
As said on gitter we should keep the effort on postcss-custom-properties plugin by incorporating safe transformation.

[2015-04-30 05:26] MoOx commented on #17
BOOM https://github.com/postcss/postcss-selector-matches

[2015-04-30 05:45] MoOx commented on #106
BAM https://github.com/postcss/postcss-selector-not

[2015-04-30 06:17] MoOx opened #111 "Add support for attribute selector case insensitive"
http://www.w3.org/TR/2013/WD-selectors4-20130502/#attribute-case

From a @ben-eb idea

[2015-04-30 20:14] jonathanKingston commented on #110
Yup thats why I think we should offer up the ability to change which properties it would output (I suspect most people care about resetting very few properties in reality).

Not sure what you meant by this sentence sorry:

I guess we can slap in all the defaults and see how it goes with gzip (as you say it should work very well).

[2015-04-30 20:32] MoOx opened #112 "Add benchmarks to compare with others similars tools"
Like this with cssnext https://github.com/postcss/postcss/blob/master/benchmark/general.js

[2015-04-30 20:35] ai commented on #80
@MoOx awesome. And what AST is generated? Rule with empty selector?

[2015-04-30 20:37] jonathanKingston commented on #104
Cool yeah I wasn't expecting it to be hard but I just wanted something to work on.

I'd like to get to being as explicit as this too: https://github.com/jonathanKingston/ember-cli-eslint/blob/master/.eslintrc

[2015-04-30 20:38] MoOx commented on #112
I think I already have something locally. Need to push that.

[2015-04-30 20:42] MoOx commented on #104
Your file override lots of default, I like to just define what is modified from default values (most default values of eslint are good enough).

[2015-04-30 20:43] MoOx commented on #80
No idea, I will check that really soon and tell you :)

[2015-04-30 20:44] MoOx commented on #110
If we can do it, we should do it :)
We can make this as a plugin that accept some options, like most plugins already :)

[2015-04-30 21:11] jonathanKingston commented on #104
@MoOx certainly minimum pass is the best. I mostly like to be explicit also just in case the defaults change (yes I am paranoid mostly :smile: ).

Anyway I'll have a go with your set and see if there are any others that might be relevant to enable.

[2015-04-30 22:04] MoOx opened #113 "website domain"
.com ?
.io ?
.ninja ?

Please drop your ideas or vote for the one you would like to see :)

[2015-04-30 22:05] magsout commented on #113
.io :+1:

[2015-04-30 22:13] jonathanKingston commented on #113
.org might be more relevant again looks dated but depends on the driving image you want to give mostly. (lesscss and eslint are org)

.dev and others will drop soon that might be more relevant etc but I would always err on what most people type by default.

[2015-05-01 04:02] MoOx commented on #98
Does this helps ? https://github.com/postcss/postcss/releases/tag/4.1.8

[2015-05-01 05:37] MoOx commented on #17
Closed by 0cf0c13bb20e1aa39c21aa5d733cabb1f7d9a11e

[2015-05-01 05:37] #17 closed

[2015-05-01 05:37] MoOx commented on #106
Closed by 64b903f6742ab7eed826fd1400161fbde0e2f9a9

[2015-05-01 05:37] #106 closed

[2015-05-01 05:37] MoOx commented on #106
Released as 1.4.0

[2015-05-01 05:38] MoOx commented on #17
Released as 1.4.0

[2015-05-03 22:40] MoOx commented on #98
Closed by https://github.com/postcss/postcss/commit/57a8d4fa771fbca9f4976f586b455545f87f21f4

[2015-05-03 22:40] #98 closed

[2015-05-03 23:49] jonathanKingston commented on #104
@MoOx having some trouble getting the tests in master to pass along with the tests here in the work I have done. Looks like a timeout issue rather than an actual issue.
It passes the ESLint rules you specified and no need for babel-eslint with the current code.

[2015-05-04 06:39] MoOx commented on #104
Can you rebase on master (I "fixed" (skipped some) tests for CI) and tell me exactly where is the issue ?

[2015-05-05 05:17] MoOx commented on #99
I just take a deeper look at your plugin and [opened too many issues](https://github.com/MadLittleMods/postcss-css-variables/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3AMoOx+) that you won't be able to resolve to decide (I know because i tried to in the past) to not use it sorry.
I will open another issue for :root in media queries.

[2015-05-05 05:17] #99 closed

[2015-05-05 05:19] MoOx opened #115 "Investigate for :root in media queries"
Ref https://github.com/postcss/postcss-custom-properties/issues/9#issuecomment-96322963

[2015-05-05 05:26] MoOx opened #116 "stdin | cssnext > stdout seems buggy"
I just received a mail

---
fish-shell:
 cat code.css | cssnext > code.css

![2015-05-04 16 28 50](https://cloud.githubusercontent.com/assets/157534/7467386/076b6588-f2f8-11e4-9946-a7cedc6d8aae.png)

Try this code:
.style { text-shadow: -1px -1px 0 rgba(0,0,0,.3); }

[2015-05-05 05:28] MoOx commented on #116
Note: this is supposed to work https://github.com/cssnext/cssnext/blob/78832083bb0b293294853d9957e1c21e8d539a4d/test/cli.js#L36-L41

[2015-05-05 08:16] MoOx opened #117 "deprecate irc in doc of all repos"
gitter seems to work well for users.
Anyway we were only 3 on irc channel :D

[2015-05-05 12:05] MoOx opened #118 "Add a way to plugin postcss plugin at different part of the process"
This would be great to offer these possibilities:

- use plugin on imported files (eg: linter ?)
- use plugins at the end of the process (compressor, custom plugin...) (ref #94)

What do you think ?

[2015-05-05 12:42] MoOx opened #119 "Add a link to "there is not css4""
http://www.xanthir.com/b4Ko0

[2015-05-05 13:26] MoOx opened #120 "Add a note for people that want to help"
Basically just a short explanation on how to help and a link to the "pr welcome" status

https://github.com/cssnext/cssnext/issues?q=is%3Aopen+is%3Aissue+label%3A%22status%3A+pr+welcome%22

[2015-05-05 20:42] Macxim commented on #119
:+1:

[2015-05-06 17:48] MoOx opened #121 "Check out why code climate is yelling"
Since we setup eslint, code climate is not happy

https://codeclimate.com/github/cssnext/cssnext

We need to fix that.

[2015-05-06 18:20] jonathanKingston commented on #121
Code climate looks at JSHint files which were removed with ESLint.

http://docs.codeclimate.com/article/241-can-i-customize-how-javascript-linting-is-performed

So add the file back in perhaps?

[2015-05-06 19:46] MoOx commented on #121
I see that. So I will probably drop code climate since I don't want to keep jshint too (also: #101)

[2015-05-06 20:09] jonathanKingston opened #122 "Watcher test issues in Linux"
So the tests don't run correctly for the watcher code in Linux, I'm either getting:
- The code times out
- The code never finishes

The test in issue is this: test/cli.watcher.js

Killing the processes using the method mentioned here solves the issues:
http://krasimirtsonev.com/blog/article/Nodejs-managing-child-processes-starting-stopping-exec-spawn

However this causes the following line of the

[2015-05-07 11:37] Macxim commented on #100
It's an interesting idea. I don't think it's too much at all. As @magsout pointed, it matches the W3C specs which is consistent with the main purpose of the entire project.

[2015-05-12 09:58] klaemo opened #123 "Watching files with multiple imports is broken"
Hey,
it seems as if files with multiple imports don't get watched properly.

**index.css**
[code]

**one.css**
[code]

**two.css**
[code]

running cssnext does compile the files correctly, but doesn't watch
[code]

commenting out one `@import` yields the expected result:

[code]

`OSX 10.10.3`
cssnext: `1.4.0`
iojs: `1.8.1`

Thank you! :)

[2015-05-12 10:03] MoOx commented on #123
I am not sure on what you are saying since right after that you say that commenting an import is making a change.

Do you expect to get a verbose ouput that is saying that index.css is watched in the first place ?

[code]

And then when you comment an import you get

[code]

Is that what you would expect ?

[2015-05-12 10:07] klaemo commented on #123
No, the first one (with both imports) doesn't pick up any changes at all.

For the second one I restarted `cssnext`.

One import === changes get detected and recompiled.
Multiple imports === changes **don't** get detected and nothing gets recompiled

[2015-05-12 10:08] MoOx commented on #123
Ok I will take a deeper look then, cause "it works for me™"  on one project. Thanks for reporting !

[2015-05-12 10:10] klaemo commented on #123
The weird thing is: it used to work for me too :D then I reinstalled all my modules from scratch...

Taking a look at the code: `watcher.on("ready")` doesn't fire when there are multiple imports. I'll investigate further.

[2015-05-13 19:34] magsout commented on #120
After contributing, and why not make a tweet ?

[2015-05-13 19:35] MoOx commented on #120
I want to add that in the futur revamped website :)

[2015-05-13 19:36] magsout commented on #120
new website ? yeeah nice..

[2015-05-15 10:04] ai opened #125 "Use CanIUse data and browserslist to enable/disable plugins"
[Stylecow](http://stylecow.github.io/) vs. PostCSS text:

If cssnext will use Can I Use as Autoprefixer we will bit this feature.

[2015-05-15 10:07] MoOx commented on #125
It's already possible since 1.x.

https://github.com/cssnext/cssnext#nodejs-options

https://github.com/cssnext/cssnext/blob/78832083bb0b293294853d9957e1c21e8d539a4d/index.js#L12

[2015-05-15 10:07] #125 closed

[2015-05-15 10:33] ai commented on #125
Awesome!

Second question: does plugins order matter in `postcss-import`?

[2015-05-15 10:34] MoOx commented on #125
postcss-import is executed before anything else, so I don't see any possible issue.

[2015-05-15 13:51] MoOx commented on #122
So what do you propose to enhance the tests ?

[2015-05-15 13:52] MoOx commented on #121
Codeclimate badge has been removed. We use eslint already, no need for another thing.

[2015-05-15 13:52] #121 closed

[2015-05-16 01:04] jonathanong commented on #123
hmmm i think i'm seeing the same issue...

[2015-05-16 17:42] topaxi opened #126 "Support :any pseudo-selector"
As far as I know, this isn't a standard. But it would be a nice addition, perhaps behind a flag?

https://developer.mozilla.org/en-US/docs/Web/CSS/:any

[2015-05-16 17:43] topaxi commented on #126
Ah never mind, there is `:matches`

[2015-05-16 17:43] #126 closed

[2015-05-16 18:18] MoOx commented on #126
;)

[2015-05-20 02:27] joshuahiggins commented on #119
+1.

CSS3 as a term already confuses new developer's understanding of the language. Mentioning CSS4+ will only add more confusion.

Mention of non-existent language specs should be removed and cssnext should reference which level of individual modules it supports. As an example, filter is only level 1.

[2015-05-20 10:06] MoOx commented on #113
# Watchers, please give your opinion on this

:)

[2015-05-20 10:09] watilde commented on #113
.io +1

[2015-05-20 10:09] kud commented on #113
.io but it's not so cheap.

[2015-05-20 10:12] dhoko commented on #113
.fr :trollface:

.io +1

[2015-05-20 10:12] simonsmith commented on #113
.io +1

[2015-05-20 10:57] neilhem commented on #113
:+1: for .io

[2015-05-20 11:15] zoontek commented on #113
.io :+1:

[2015-05-20 11:35] bloodyowl commented on #113
.technology

[2015-05-20 11:48] jonathanKingston commented on #113
.style goes live today

[2015-05-20 11:53] Sacripant commented on #113
.bio  because it's pur CSS, no SASS or other chimical fertilizer
.tools because it's a tools ^^
.style because style sheets
.ws for website
.tech (coming soon)
.today because u can use Css next today (no found .now)

[2015-05-20 12:15] MoOx commented on #113
.style are nice, but 145€ ! Ouch.
I guess I will go for .io...

[2015-05-20 12:29] MoOx commented on #113
.style will have the same price when the state change to GoLive. In some hours :)

[2015-05-20 12:33] Macxim commented on #113
I'd go for .style too.

[2015-05-20 12:34] simonsmith commented on #113
We need a `.next`

[2015-05-22 00:35] jonathanKingston commented on #122
Sorry for the delay with this; I'm going to paste the changes I made so they are not lost and a brain dump.

The regarding the following line, I know you mention you didn't write the test however I would be interested if you think a failed watcher should be killed? If that is the case then I think the code for that isn't working with Linux correctly.
[code]

The changes I made mostly hang off just

[2015-05-22 04:31] MoOx commented on #122
This test `if (err && !err.killed) { throw err }` is just to allow ourselves to kill the process when tests are finished, otherwise I think the process will continue until someone kill it.

We already plan 5 tests from what I can read.

If your function helps to kill all childs, maybe it's the solution. Did you make some debug to see if we actually have other child process to kill ?

Also I am con

[2015-05-24 06:29] #94 closed

[2015-05-24 06:46] MoOx commented on #104
This is good.

[2015-05-24 06:46] #104 closed

[2015-05-24 06:46] MoOx commented on #97
It's not really a bug since spec syntax is supported too.

[2015-05-25 07:06] MoOx opened #128 "❤︎ Who is using cssnext ?"
I am creating a page for the new website and would like to know who is using it (companies).

If you are interested, please fill the following out:
- Name: (correctly formatted)
- Homepage url: (homepage/primary entry point for users)
- Brand Guidelines/Licensing: (or anything we need to know before using your logo)
- Logo: (svg if possible, pngs over 500x200px with transparent backgrounds are als

[2015-05-25 07:10] pascalduez commented on #73
`.cssnextrc` (json or yaml)

Just my too cents.

`.<projectname>rc` is a widely used convention: `.eslintrc`, `.jshintrc`, `.babelrc` ...

Supporting both JSON and YAML is neat, and a breeze using [js-yaml](https://github.com/nodeca/js-yaml).

One minor hitch though, syntax highlighting in editors with the .rc sheme.

[2015-05-27 08:34] MoOx opened #130 "Add ready to copy/paste snippet in doc for beginners."
Ref https://twitter.com/jonikorpi/status/603475439097618432

[2015-05-27 08:36] kud commented on #130
Wow, indeed. :+1:

[2015-05-27 16:57] Antontelesh opened #131 "Throws on using Autoprefixer"
Since Autoprefixer has been updated to v5.2, the function

[code]

returns `undefined`. It then throws when using inside postcss.

I've raised an issue in autoprefixer repository: https://github.com/postcss/autoprefixer/issues/454
but it has been rejected.

[2015-05-27 20:06] blittle commented on #131
This is killing us right now. Our entire project does not compile with webpack (using cssnext-loader) while this is broken. I fix it with npm shrinkwrap and forcing autoprefixer version to 5.1.11.

Feel super sick it took me so long to figure out this was the problem (happened mid large refactor).

[2015-05-27 20:07] MoOx commented on #131
Sorry for that. Will push a fix really soon.

[2015-05-27 20:16] stopsatgreen commented on #131
Can confirm this problem; I disabled autoprefixer in `gulp-cssnext` and the problem went away.

[2015-05-27 20:17] MoOx commented on #131
Give me 20min. I am releasing the new cssnext website right now :)

[2015-05-27 21:02] #131 closed

[2015-05-27 21:03] MoOx commented on #131
Fix released as 1.5.2

[2015-05-27 21:08] blittle commented on #131
Thank you @MoOx !

[2015-05-28 14:13] warpech opened #133 "Support for CSS Grid Layout"
Is support for [CSS Grid](http://www.w3.org/TR/css-grid-1/) considered?

Do you think it is feasible at all on a transpiler level at all, given that all prior art in this area ([css-grid-polyfill](https://github.com/FremyCompany/css-grid-polyfill), [Grid-Layout-Polyfill](https://github.com/codler/Grid-Layout-Polyfill)) is dynamic JavaScript libraries?

[2015-05-28 15:56] DavidBrear opened #134 "NonCompiled Comments."
I believe it would be really nice to be able to specify comments that are not compiled into the CSS. Somewhat like what SASS allows you to do with the ```//``` comment.

[2015-05-28 21:41] Macxim commented on #134
Relevant https://github.com/cssnext/cssnext/issues/76

[2015-05-29 06:15] #102 closed

[2015-05-29 06:15] #103 closed

[2015-05-29 06:15] #113 closed

[2015-05-29 12:05] chprome opened #135 "Link to cssnext.io from the README is incorrect"
Shall be http://cssnext.io instead of https://cssnext.io
Great work btw !

[2015-05-29 17:10] blittle commented on #128
@MoOx

We moved entirely from SASS to cssnext.

Name: *Canopy*
Homepage url: https://www.canopytax.com
Brand Guidelines/Licensing: None currently
Logo: https://drive.google.com/a/canopytax.com/file/d/0B60grZQqYba0TG9KdlNhaDFVRTg/view?usp=sharing

[2015-05-29 17:45] kud commented on #128
Name: Play TV
Homepage url: http://playtv.fr
Brand Guidelines/Licensing: None currently
Logo: http://m.playtv.fr/assets/images/logo.svg

[2015-05-29 20:06] jedmao commented on #79
@MoOx I'm not having as much luck as @Paulmicha. Here's my env:

[code]

I did as you requested, running the following:

[code]

But when I try a fresh install of cssnext, like so:

[code]

I get the following errors:

[code]

[2015-05-29 20:17] MoOx commented on #79
@jedmao You error seems completely different, so you might open a new issue.
But before that please try on at least node 0.12  + npm 2+, you are using very old versions. (npm3 is already planned)

[2015-05-29 20:22] MoOx commented on #135
Closed by da16e0fa883b0a36c3d2ac56a1936e3a9064377f

[2015-05-29 20:22] #135 closed

[2015-05-29 20:23] MoOx commented on #134
cssnext aims to support specs only for now. No spec/draft/proposal, no implementation :/

[2015-05-29 20:23] #134 closed

[2015-05-29 20:28] MoOx commented on #133
For now cssnext doesn't have a runtime and this thing cannot be handled by a "simple" transformation.
We might discuss about a potential runtime library before wanting to implement this sort of things.
If we start to handle polyfill, this will be like a total different project because:

- require js on client side
- must be light
- must be fast

I am afraid of FOUC. Lot of CSS dev were trolling LE

[2015-05-29 20:30] MoOx commented on #128
Great, thanks guys !
(I will wait for some others comments here before creating the page. I think a minimum of 5/10 consequent companies is mandatory to have a serious page)

[2015-05-29 20:39] MoOx commented on #109
Done

[2015-05-29 20:39] #109 closed

[2015-05-29 20:39] MoOx commented on #117
Done

[2015-05-29 20:39] #117 closed

[2015-05-29 20:40] MoOx commented on #100
plugin has a 2.0 version that fix some issues.

[2015-05-29 20:40] MoOx commented on #97
plugin has a 2.0 version that fix some issues.

[2015-05-29 20:53] MoOx commented on #100
I just took a second look and found this:
- last call are just considered as WD: "Document maturity level: Working Draft."
- I didn't see a lot of "proposed recommendation" on this page http://www.w3.org/TR/tr-groups-all#tr_Cascading_Style_Sheets__CSS__Working_Group

So what about this:

    Stage 0 - Strawman
    Stage 1 - Unofficial draft
    Stage 2 - Working draft
    Stage 3 - Candidate recom

[2015-05-29 20:55] MoOx commented on #70
Nobody gave feedback about this so I am closing (this doesn't meant we will never see this in cssnext).

[2015-05-29 20:55] #70 closed

[2015-05-29 22:30] kud commented on #128
I agree. ;) Thank you anyway.

[2015-05-29 22:30] ai commented on #70
:'(

[2015-05-29 22:46] magsout commented on #128
Name: Splitfire
Homepage url: http://splitfire.fr
Brand Guidelines/Licensing: None currently
Logo: https://dl.dropboxusercontent.com/u/92935009/logo_splitfire.png

[2015-05-30 13:06] coderhaoxin opened #141 "Support oocss mixins"
[oocss/mixins](http://oocss.org/spec/css-mixins.html)

[2015-05-31 08:43] enociz opened #143 "Is there a cssnext for use on the web coming up?"
The preprocessor Less has a version of itself which allows it to be used in the browser mainly for testing purposes. Is this a feature we can expect for cssnext? If it was implemented, a lot of time in the terminal would be saved (unless you 'watch'ed the file).

[2015-05-31 12:52] alp82 commented on #143
That's the point of watchers. Why do you prefer to not use them?

[2015-05-31 15:34] corysimmons commented on #143
@alp82 :+1:

[2015-06-01 04:24] MoOx commented on #143
I think we should encourage this kind of usage. If the community ask for it we might have a second thought about that.

[2015-06-01 04:29] MoOx commented on #143
Oups sorry. I meant "not encourage". Closing for now.

[2015-06-01 04:29] #143 closed

[2015-06-01 04:33] enociz commented on #143
Sure, I just thought of bringing it uo

[2015-06-01 14:27] rdlphmchrd opened #146 "Create output folders."
Hi,
Is it possible to have automatic output folder(s) creation during the cssnext build ?
thanks.

[2015-06-01 14:32] MoOx commented on #146
Should be done with a simple line of code and the use of mkdirp(dirname(file)) :)

[2015-06-02 20:11] MoOx commented on #141
If there is no specs (WD or serious unofficial WD) I would say no, that's not the purpose of cssnext. Mixins are just templating.

[2015-06-02 20:11] #141 closed

[2015-06-03 05:23] anujpan opened #148 "Sublime Text Syntax"
Can we get a syntax package for sublime?

Thanks

[2015-06-03 05:24] MoOx commented on #148
That might be accepted as a new repo under this org.
A PR is welcome.

[2015-06-03 12:53] MoOx commented on #97
This will be a breaking change in a way (for people that don't use :).
So in order to update the plugin, I will write a small & stupid plugin that will (for now) add : + emit a warning so people think to update. The plugin will be dropped in the next major bump.

[2015-06-04 05:17] MoOx commented on #112
I found a pretty bad "css framework" (knacss) ported to cssnext.
Using the Sass, LESS & cssnext version might help.
- Sass + LESS https://github.com/raphaelgoetter/KNACSS
- cssnext https://github.com/tmos/KNACSS

[2015-06-04 09:48] MoOx commented on #64
Closing in favor of #88

[2015-06-04 09:48] #64 closed

[2015-06-04 12:19] MoOx opened #149 "Allow to run plugins before transformation (eg: plug a linter, run non-w3c like transformations)"
Ref https://github.com/postcss/postcss-import/issues/45
[stylelint](https://github.com/stylelint/stylelint) will be actively supported.

[2015-06-04 14:16] awayken opened #150 "Why is CLI global usage "not recommended"?"
In the [Installation section of the Setup page](http://cssnext.io/setup/#installation) of the website, it mentions that installing through `npm` using `-g` is "not recommended." I was wondering why that is. Is it because the recommended usage would be to use cssnext in a build tool or script of some sort, or is there something else to this?

I also noticed that there is no installation bullet poin

[2015-06-04 14:21] bloodyowl commented on #150
this type of installation isn't recommended because the versions you want across your projects can be incompatible. to prevent this, install cssnext locally and use npm scripts in your package.json:

[code]

and then run:

[code]

you can also add `./node_modules/.bin` to your `$PATH` to get the right CLI locally.

[2015-06-04 14:21] #150 closed

[2015-06-04 14:33] MoOx commented on #150
I will add this to the incoming FAQ

[2015-06-04 19:04] koistya opened #151 "Error: Cannot find module 'lodash._basebind'"
[code]

[code]

[2015-06-05 05:24] MoOx commented on #151
@Nyalab any idea about this ?
@koistya can you clean npm cache & try again please ? It's weird to get this only now.

[2015-06-05 05:59] MoOx commented on #118
`plugins` option to add your own stuff after cssnext list will be added.
For plugin on import, see #149

[2015-06-05 06:04] #118 closed

[2015-06-05 08:26] Nyalab commented on #151
i am looking into it today, thanks for the report @koistya

[2015-06-05 09:13] voronianski opened #152 "--watch is not working on node 0.10/0.12"
Using cssnext version `1.6.0` but `--watch` option is not working.

[code]

[2015-06-05 13:02] MoOx commented on #152
Please provide more info: node/npm version, os & command you are trying.

[2015-06-05 13:57] voronianski commented on #152
@MoOx node `0.10.38`, npm `1.4.28`, OS X `10.10.3`, `cssnext --watch cssnext/index.css public/styles.css --verbose`

[2015-06-05 14:21] MoOx commented on #152
Can you try --verbose as a first arg ?

[2015-06-05 14:24] voronianski commented on #152
@MoOx tried `cssnext --verbose --watch cssnext/index.css public/styles.css` - no effect.

[2015-06-05 14:38] MoOx commented on #152
What is you css input ?

[2015-06-05 14:41] voronianski commented on #152
@MoOx

[code]

[2015-06-05 15:04] MoOx commented on #152
Oh i miss 0.10. Watcher only work for 0.12. Also, you should update npm. V3 is almost out.

[2015-06-05 20:29] MoOx commented on #152
Please tell me if upgrading to node 0.12 (or iojs) change something for you.

[2015-06-05 20:30] #88 closed

[2015-06-05 20:30] MoOx commented on #151
@koistya any change with a fresh install ?

[2015-06-06 06:23] MoOx commented on #88
How does it look ?

![screen shot 2015-06-06 at 08 21 03](https://cloud.githubusercontent.com/assets/157534/8018599/45ebd13a-0c25-11e5-998c-fa65c4106941.png)

[2015-06-06 06:39] koistya commented on #151
I'm away from my desktop, will try fresh install on Monday.

[2015-06-06 06:46] magsout commented on #88
Woooot awesome.

[2015-06-06 14:02] awayken commented on #88
Is cssnext actually parsing your error and suggesting an accurate fix for it? That's pretty cool.

Related to the error formatting: is it possible to use whitespace to better indicate the problem line and the corrected line?

Something like:
[code]

I also see the "Please adjust this..." sentence as maybe being unnecessary.

Anyway, those are just my 2¢ as a relative outsider who apparently has an

[2015-06-06 14:07] awayken commented on #151
Not sure if this is related, but I updated to the latest iojs yesterday to 2.2.1 and started to have issues like this. I was technically using the gulp-cssnext module, but I think it was the same error. I downgraded back to iojs 2.0.2 and everything worked fine again.

I'm running on Windows 8.1 using iojs 64-bit but haven't looked around to see if other people had issues when they upgraded.

[2015-06-06 14:46] MoOx commented on #88
My question was more for the design that the content itself.

That said, i will probably adjust messages with some newlines, that's a good idea.

For the record some plugin currently use console.log to talk to users (eg. postcss-custom-properties might warns you if you try to use an undefined var). Since it's not really users friendly (especially when you are using postcss in a verbose env like we

[2015-06-06 15:11] awayken commented on #88
That said, I really like the design. I know the blue complements the logo, but it has the side effect of being calming even in the midst of the potential frustrations of learning these new specs. Bonus!

[2015-06-06 16:00] MoOx commented on #88
I think I will replace the logo by another icon: `{ ! }`

[2015-06-06 21:43] MoOx commented on #88
Is this any better ?

![screen shot 2015-06-06 at 23 42 52](https://cloud.githubusercontent.com/assets/157534/8021594/c879b8f8-0ca5-11e5-81c1-b14bac323d4c.png)

[2015-06-06 21:46] MoOx commented on #88
Or with more space ?

![screen shot 2015-06-06 at 23 46 44](https://cloud.githubusercontent.com/assets/157534/8021604/51245014-0ca6-11e5-8a3c-c01fd0374a57.png)

[2015-06-07 04:00] awayken commented on #88
I like them both. What's nice about the additional space is that it makes it easier to pick out individual issues if you miss the `> cssnext:`.

[2015-06-07 12:38] MoOx commented on #88
Or with the icon in the top left corner

![screen shot 2015-06-07 at 14 37 33](https://cloud.githubusercontent.com/assets/157534/8023973/cb5a398a-0d22-11e5-8311-993d968b0b2b.png)

[2015-06-07 13:05] awayken commented on #88
I like that better.

[2015-06-08 07:17] MoOx commented on #88
I will go for a simpler icon

Which one ?

![screen shot 2015-06-08 at 09 16 16](https://cloud.githubusercontent.com/assets/157534/8029585/2d45e990-0dbf-11e5-80b5-28335795009e.png)
![screen shot 2015-06-08 at 09 16 24](https://cloud.githubusercontent.com/assets/157534/8029586/2d4bef20-0dbf-11e5-9e01-0458c3f24c3f.png)
![screen shot 2015-06-08 at 09 16 29](https://cloud.githubusercontent.com/assets/

[2015-06-08 07:22] madx commented on #88
I vote for the second one: being filled makes it more visible, and it keeps the shape of the `{!}` logo

[2015-06-08 07:22] bloodyowl commented on #88
first one IMO

[2015-06-08 07:22] madx commented on #88
The downside being that it looks like and information instead of a warning/error :/

[2015-06-08 07:24] MoOx commented on #88
Note that we might have here info/debug message in the future.

[2015-06-08 08:07] kud commented on #88
I prefer the third one, but the second one is quite ok and mostly efficient. So the 2nd one. The first one is "an error", not a notice.

[2015-06-08 08:51] voronianski commented on #152
@MoOx thanks, on latest node version watcher is working :+1:

[2015-06-08 13:56] awayken commented on #88
I like the third one best. Second favorite is the second one.

[2015-06-12 05:15] sdn90 commented on #152
node 0.12.4
npm 2.10.1
OS X 10.10.3

Not working for me.. Switched to iojs 2.2.1/npm 2.11.0 and it worked.

[2015-06-12 10:10] voronianski commented on #152
@MoOx same for me.. it stopped working on node `0.12.4`..

[2015-06-12 10:42] MoOx commented on #152
Hum... All this watcher issue are boring me. I will switch to another watcher module asap.

[2015-06-12 10:52] voronianski commented on #152
@MoOx please do :+1:

[2015-06-12 11:15] MoOx commented on #152
PR is also welcome. @jonathanong told me to use https://github.com/amasad/sane

[2015-06-12 13:18] emmenko commented on #128
Name: SPHERE.IO
Homepage url: http://sphere.io/
Brand Guidelines/Licensing: http://sphere.io/assets/pdf/SPHEREIO-corporate-design-manual.pdf
Logo: http://sphere.io/assets/img/sphereio_logo.svg

Thanks :+1:

[2015-06-12 20:54] Semigradsky opened #154 "Bump version"
It would be great to get a new version [with updated `postcss-custom-selectors`](https://github.com/cssnext/cssnext/commit/27efd385b7d3809021fefb563119e5e5a46e1d27) :smile:

[2015-06-15 17:43] crhallberg commented on #80
Would you be able to nest @media queries according to your draft?

[code]

[code]

[2015-06-15 20:32] MoOx commented on #80
Probably more something like

[code]

poke @tabatkins

[2015-06-15 20:52] crhallberg commented on #80
Makes sense!

On Mon, Jun 15, 2015 at 4:32 PM, Maxime Thirouin <notifications@github.com>
wrote:

[2015-06-15 20:58] MoOx commented on #151
I will consider it was a temporary issue since nobody came here to report as well. Please let me know if you still have the issue.

[2015-06-15 20:58] #151 closed

[2015-06-15 22:17] MoOx commented on #154
1.7.0 will be out on Wednesday.

[2015-06-15 22:17] MoOx commented on #122
up :)

[2015-06-15 23:07] jonathanKingston commented on #122
Whoops sorry, will look into this further soon.

Yup I wasn't certain if it was actually getting killed in the watcher code (Last time I checked I couldn't see the code that did that).

Yeah certainly as I think the issue is that there is no code killing it correctly, either linux is wrong or that test is.

[2015-06-17 12:59] #97 closed

[2015-06-17 12:59] #101 closed

[2015-06-17 12:59] #154 closed

[2015-06-17 13:15] MoOx opened #155 "Add postcss messages somewhere on the playground"
They are currently in the console but we should reuse the styles that are used for the browser plugin.

[2015-06-17 13:36] Semigradsky commented on #154
Great! Thanks :+1:

[2015-06-17 13:36] MoOx commented on #154
Thanks for your patience :)

[2015-06-17 13:45] ben-eb opened #156 "Reduce overlapping functionality between cssnext & cssnano"
It would be good for both of our modules to be able to disable processors based on what has already been transformed. cssnext already disables postcss-calc before the AST goes through to cssnano, but we can do more.

For example, I can detect that automatically by analysing the processor instance for postcss-calc and disabling it silently; same with postcss-pseudoelements.

It would be nice if you

[2015-06-17 16:49] MoOx commented on #80
omg. @jonathantneal did it https://github.com/jonathantneal/postcss-nesting
Releasing it in 1.8.0 right now.

[2015-06-17 16:50] MoOx commented on #80
Well I need to handle #100 so I guess it will take more than 5min ;)

[2015-06-17 17:00] magsout commented on #100
👍

[2015-06-17 17:11] MoOx commented on #73
This will support js/json/yaml

[2015-06-17 19:48] iantearle commented on #123
Also seeing this.

[2015-06-17 20:12] MoOx commented on #152
Is this working for everyone using iojs ?

[2015-06-17 20:14] MoOx commented on #152
@es128 chokidar is supposed to work on node 10/12 right ?

[2015-06-17 20:23] es128 commented on #152
@MoOx yes it works on all mainstream versions of node and io.js. Not enough detail in this thread for me to understand what's going wrong for some users, but it's possible that what's missing is running `npm rebuild` after any node version change in order to get the native extensions in fsevents recompiled.

That said, chokidar should still work (perhaps with degraded performance) on OS X even whe

[2015-06-17 20:46] jonathanKingston commented on #80
@MoOx did you mention things that were drafts would be flagged?

Also worth pointing you all to this thread as a discussion of this topic:
http://discourse.specifiction.org/t/css-nesting-specification/839/14

[2015-06-17 20:47] jonathanKingston commented on #80
Ignore my flag comment as #100 is about that sorry.

[2015-06-17 21:16] awayken commented on #88
Updated the project I'm using cssnext on to see how this works in practice, and I love this feature so much.

[2015-06-17 21:17] MoOx commented on #88
Glad you enjoy it.

[2015-06-17 22:20] tabatkins commented on #80
At-rules don't require anything special to be nested.  They're not ambiguous with property grammar, so when they're defined to be nestable, they'll be able to just go directly into the rule block.

And I'm thinking of messing with the syntax more, so definitely keep this in the "experimental" category.

[2015-06-17 22:38] #119 closed

[2015-06-17 22:38] #155 closed

[2015-06-19 10:47] MoOx opened #158 "Consider adding postcss-flexbugs-fixes"
What do you think about that guys ?

https://github.com/luisrudge/postcss-flexbugs-fixes

Would be nice to have it ?

[2015-06-19 11:24] lionelB commented on #158
For now it's ok since it only fix bug8, but some workarounds (bug3) may add rules and potentially can override user's rules.

[2015-06-19 13:38] MoOx commented on #158
We might enhance this plugin so it add warnings about those potential collisions.
poke @luisrudge

[2015-06-19 13:40] lionelB commented on #158
and let the user select which bug the want to fix

[2015-06-19 14:17] luisrudge commented on #158
Oh! I forgot about that. I still have to publish the plugin to npm, but I'd like to add more rules before doing so.

[2015-06-20 10:05] ben-eb commented on #156
This commit adds support for detecting previous processors: https://github.com/ben-eb/cssnano/commit/aa92416d0413a2e84b12b03918f2498b6568806e

[2015-06-22 14:37] kaelig commented on #100
Seems like a great idea. :+1:

[2015-06-23 05:33] MoOx opened #159 "cli is not adding the "to" option"
Ref https://github.com/cssnext/grunt-cssnext/issues/1

https://github.com/cssnext/cssnext/blob/bcdb1cdeb0a46d88d960e9a773ae5b1af6677844/src/bin.js#L90-L99

Direct consequence it that cli doesn't by default rebase url as said in the doc.
https://github.com/cssnext/cssnext/blob/245d2c5201e35ad4b8287897cffa325bdb61c62e/docs/content/usage.md#url

[2015-06-23 05:35] MoOx opened #160 "Rename from/to options to source/dest ?"
I always found `from` & `to` option where pretty shitty and I am not sure we should keep them.
We might introduce this change in a major release.

Any thoughts ?

[2015-06-23 08:16] ben-eb commented on #160
Where possible it would be good to be consistent with what the rest of the PostCSS ecosystem is doing. I think any such change should be in PostCSS itself to maintain that consistency.

[2015-06-23 08:23] MoOx commented on #160
These options are only relevant if you are using cssnext directly, not through postcss. So not sure if it's a requirement. But if @ai is open to this kind of improvement, why not.

[2015-06-23 08:53] ben-eb commented on #160
Yep, but it is nicer if all of our modules use the same options for source maps; so that if a user of a PostCSS module wants source maps, she doesn't have to apply different options when wanting to use cssnext instead. :smile:

[2015-06-23 08:56] MoOx commented on #160
I don't consider cssnext as a postcss plugin (mostly because I think most people should not use postcss directly - like babel user that don't use acorn directly).
I have plan for v2 to change it's API and this issue will probably be part of it.

[2015-06-23 13:49] ai commented on #160
@MoOx I understand you, but without a main PostCSS runner there will not be a way for small and new plugins for developer. We will stagnation.

[2015-06-23 14:39] ai opened #161 "Add Conic Gradient support"
Conic gradients is a new draft promototed without any implementation, but with SVG polyfill.

@jonathantneal rewrote polyfill to PostCSS: https://github.com/jonathantneal/postcss-conic-gradient/issues

But the main question is, how to install Cairo.

[2015-06-23 14:45] jonathantneal commented on #161
With [brew](http://brew.sh/), this can be as simple as:

[code]

There are [installation instructions available](https://github.com/Automattic/node-canvas/wiki), and those instructions [worked well with travis](https://github.com/jonathantneal/postcss-conic-gradient/blob/master/.travis.yml#L3).

[2015-06-23 14:47] ai commented on #161
It makes all cssnext installation process more complicated. Maybe we can remove Cairdo dependency? For example by creating SVG XML by hands?

[2015-06-23 14:50] jonathantneal commented on #161
Maybe. Right now, Cairdo is used to [generate the Canvas](https://github.com/jonathantneal/postcss-conic-gradient/blob/master/index.js#L20) which is then used to [generate the PNG](https://github.com/jonathantneal/postcss-conic-gradient/blob/master/index.js#L122). The original did something like `document.createElement('canvas')`.

[2015-06-23 14:52] ai commented on #161
Why PNG and not origin vector format?

[2015-06-23 14:57] jonathantneal commented on #161
It [may be possible](http://midiwebconcept.free.fr/Demos/degradeconique.htm), but this would require an entire redesign of the polyfill.

[2015-06-23 17:05] koistya commented on #151
Having this issue with a fresh install as well.

[code]

[2015-06-23 17:07] koistya commented on #151
Maybe it has something to do with `babel/register`?

[2015-06-23 19:15] MoOx commented on #151
Please clear your local npm cache & reinstall and then let us know what happen :)

[2015-06-23 19:24] MoOx commented on #160
I am not sure about what you are saying @ai.
Anyway, would you consider renaming from/to to source/destination in the next major release ?

[2015-06-23 19:28] ai commented on #160
My idea is that if user use gulp-postcss, instead of postcss autoprefixer or gulp-cssnext, he can add also many other small PostCSS plugins, like postcss-data-packer. So market will be open for new ideas. With gulp-autoprefixer it is psychology more difficult to add new plugin for user.

[2015-06-23 19:30] MoOx commented on #161
This is totally cool. That said, the cairo deps seems overkill :/
How does the polyfill behave if cairo is not availabe (error or simple message) ?
What would be cool is that the plugin might not say anything until someone really try to use it. And if cairo is not available, a simple postcss warning will be really cool instead of a breaking error. If the plugin might behave like this, I would be r

[2015-06-23 19:31] MoOx commented on #160
cssnext now have a plugin option to pipe others plugins :)

[2015-06-23 19:31] koistya commented on #151
Clearing local npm cache doesn't help

[2015-06-23 19:31] ai commented on #160
We can rename it, of course.

But why they are better? It is only question of taste our there is any objective benefits.

What Babel uses?

[2015-06-23 19:32] MoOx commented on #160
Babel don't have this kind of options.
But src/source and dest/destination are much more common than from/to in a lot of open source projects (metalsmith, gulp, grunt...).

[2015-06-23 19:32] ai commented on #161
I think PNG solution is good only for first implementation. But maybe we should wait for pure SVG implementation for cssnext without Cairo dependency?

[2015-06-23 20:36] koistya commented on #151
@MoOx the problem is that when I install `cssnext`, node_modules/cssnext/node_modules/caniuse-api contains `lodash.uniq` 2.4.1. If it will be a more recent version, this issue will be resolved.

[2015-06-23 20:55] MoOx commented on #151
caniuse-api 1.3.2 should fix that.

[2015-06-23 20:58] koistya commented on #151
Yep, fixed.

[2015-06-23 23:33] karlcow commented on #128
Name: Webcompat
Homepage url: https://webcompat.com/
Brand Guidelines/Licensing: none
Logo: https://webcompat.com/favicon/favicon-196x196.png

[2015-06-24 05:11] jedmao opened #162 "postcss-log-warnings deprecated in favor of postcss-reporter"
The author of [postcss-log-warnings](https://github.com/davidtheclark/postcss-log-warnings) has deprecated it in favor of [postcss-reporter](https://github.com/postcss/postcss-reporter). Perhaps we should follow suit?

[2015-06-24 05:37] magsout commented on #162
Yes we should

[2015-06-24 05:57] MoOx commented on #162
@jedmao I originally asked for [a renaming of the 2 modules that are used](https://github.com/postcss/postcss-messages/issues/17#issuecomment-109579949) so yeah, I will update that :)

[2015-06-24 11:52] topaxi opened #163 "Nested custom selectors don't work"
This isn't working anymore:

[code]

Now produces:

[code]

Instead of:

[code]

Seems to be working fine in plain https://github.com/postcss/postcss-custom-selectors and cssnext@1.6

[2015-06-24 11:54] topaxi commented on #163
Seems like there are even more issues with custom selectors.
Even this simple example doesn't work in cssnext 1.7.1:

[code]

produces:

[code]

[2015-06-24 15:08] lydell opened #164 "Some features needs to be deactivated without using caniuse-db"
[code]

Why are the `cssnext` and `autoprefixer` results different? I’d expect them to be equal.

[2015-06-24 15:20] lydell commented on #164
Actually, it seems as if the entire “browsers” option is ignored:

[code]

[2015-06-24 15:28] lydell commented on #164
I can’t get the inlined SVG output with autoprefixer.

[code]

Is that done by some other plugin used by cssnext? If so I’ve just been confused all the time, and the real issue is that the “browsers” option should control more than it does.

[2015-06-24 15:32] ben-eb commented on #164
It might be worth being able to set a `browsers` option in pleeease-filters :smile:

[2015-06-24 15:38] lydell commented on #164
Good idea.

[2015-06-24 15:38] MoOx commented on #164
pleeease-filters is not deactivated for now. I need to add manual tests in the feature activation map.
It's not really a bug, but we should definitely handle that.

[2015-06-24 15:39] MoOx commented on #164
Some plugins need to not even be added in the pipe.

[2015-06-24 15:40] lydell commented on #164
Yes, it is not a bug. But it is really confusing. I consider myself comfortable and familiar with postcss (I’ve even contributed code to it), but still I fell into this trap :)

[2015-06-24 15:44] ben-eb commented on #164
I like the idea of having a global `browsers` option which is passed around to all relevant plugins. It's something that I plan to add to cssnano 3, where `browsers` will be used by both autoprefixer and this css hacks processor that's in the works.

[2015-06-24 15:52] MoOx commented on #163
I don't get those issue on the playground that is using 1.7.1...

[2015-06-24 16:00] topaxi commented on #163
Mh, now I can't reproduce this on the playground too... weird O_o
Did something change, maybe a dependency? do I have hallucinations?

Well one thing I definitely still have which worked pre 1.7

[code]

Produces:

[code]

Instead of:
[code]

[2015-06-24 16:07] topaxi commented on #163
Okay, playground sometimes gets confused, after cutting and pasting something it produces the results from my first two posts. Refreshing I get correct results now.

The above example is a bit complex, here is a much simpler one:

[code]

Produces:
[code]

Instead of:
[code]

[2015-06-24 16:14] topaxi opened #165 "Playground sometimes gets confused"
I'm not really sure when it happens, but sometimes the playground does weird things.

All I can say, I'm deleting the initial stuff and pasting in the new css.

Here side by side comparison:
![playground-bug](https://cloud.githubusercontent.com/assets/213788/8335228/b6a2502c-1a9c-11e5-83ff-a40bc63b4e91.png)

Tested in Firefox 41.0a1

[2015-06-24 16:18] topaxi commented on #165
In the first tab I got this console warning: Warning: The selector ':--fizzbuzz' is undefined in CSS!

But even if I repaste the same snippet, it's compiled wrong and a new warning appears, works fine in a fresh tab though...

[2015-06-24 16:20] MoOx commented on #165
It might be related to the plugin. Maybe a memory issue. This is weird.

[2015-06-24 16:24] topaxi commented on #165
Yeah, maybe I shouldn't browse with nightlies...

I'll try to use a plain stable Firefox with a new profile for the playground for the next days and report if I can reproduce this.

[2015-06-26 07:26] topaxi commented on #165
Okay I reproduced this now with the following code:

[code]

After that, I **type** a new `@custom-selector`:

[code]

If I now use `:--bar` it will be "undefined" and the following happens:

Input:
[code]
Output:
[code]

Tested in Firefox 38 and a completely new profile (no addons etc.)

[2015-06-26 20:42] jonathanong commented on #152
@MoOx you could also try just making your own watcher. i have https://github.com/fs-utils/file-watch which i don't maintain anymore which worked pretty well. could copy and simplify.

[2015-06-28 20:13] trippersham opened #167 "cssnext CLI throws parsing error for rgba()"
Transpiling the Basscss optional modules and the cssnext CLI is throwing the following error for 9 of the modules:
[code]

Same exact CSS4 works in the playground, but is failing in the CLI. The following Basscss modules are failing:
https://github.com/basscss/basscss-color-buttons
https://github.com/basscss/basscss-button-blue
https://github.com/basscss/basscss-button-blue-outline
https://github.

[2015-06-29 04:17] MoOx commented on #167
That might "work" in the playground:

[code]

This is creating an error because color function is invoked to parsed an modify the invalid color

[code]

I guess you are getting the error from something similar.

This is not valid CSS. That's why it doesn't work. You should ask @jxnblk to use color function instead of this invalid code :) (eg: `color(#000 a(.0625)`).

[2015-06-29 04:17] #167 closed

[2015-06-29 04:37] MoOx commented on #165
I cannot reproduce :/

![screen shot 2015-06-29 at 06 36 36](https://cloud.githubusercontent.com/assets/157534/8401052/3e637e8e-1e29-11e5-8d6d-4df13c033671.png)

[2015-06-29 05:01] MoOx commented on #163
It's this issue right ? https://github.com/postcss/postcss-custom-selectors/issues/19

[2015-06-29 05:49] topaxi commented on #165
Mh weird, I'll try on other machines later this day. I can still reproduce this on my notebook on either Firefox or Chrome.

Note: I can't reproduce this if I copy&paste the second custom-selector, if there is some debouncing, maybe I'm typing slower than you..?

[2015-06-29 05:53] MoOx commented on #165
Ok I totally reproduced it. It seems the module that handle custom selectors have a weird memory management.

[2015-06-29 07:08] topaxi commented on #163
Yep :)

[2015-06-29 07:48] bloodyowl commented on #161
in my experience, projects requiring cairo have always been a pain to install and run

[2015-06-29 07:49] MoOx commented on #161
We will probably wait for (or do) a cairo free version then.

[2015-06-29 09:57] MoOx opened #168 "Weird sassy code create a infinite loop"
The following code (which is not valid css) seems to create an infinite loop (even on the playground). This code can be parsed by postcss so I guess one plugin is having trouble with it.

Ref https://gitter.im/postcss/postcss?at=559107874a7048d725c22209

[code]

We should find wtf.

[2015-06-29 12:16] MoOx commented on #168
The problem come from postcss-pseudo-class-any-link poke @jonathantneal.
Meanwhile it's fixed in this module, you can disable this features by using this option

[code]

From what I can read of the code of the plugin that is responsible, I am starting to think that it can came from a module used by it: postcss-selector-parser poke @ben-eb (because I don't see where the infinite loop might came fro

[2015-06-29 12:40] jxnblk commented on #167
@trippersham It looks like you're using some older modules, which used to use Rework and require https://github.com/reworkcss/rework-plugin-colors for compilation (which doesn't use by-the-spec syntax).

Feel free to open an issue on the relevant Basscss repos.

[2015-06-29 13:08] #146 closed

[2015-06-29 13:08] #159 closed

[2015-06-29 13:08] #162 closed

[2015-06-29 13:28] MoOx commented on #165
Closing since the appropriate issue is opened on the right module https://github.com/postcss/postcss-custom-selectors/issues/19
It seems related to this part https://github.com/postcss/postcss-custom-selectors/blob/e020e3220644d1975b4dc7102d1acb1e0bec38a0/index.js#L21 which does not reset the list for each plugin executions

[2015-06-29 13:28] #165 closed

[2015-06-29 13:34] MoOx commented on #90
I think you have everything you want from the plugins currently used.

[2015-06-29 13:34] MoOx commented on #156
Is this ok since v2 ?

[2015-06-29 13:38] ben-eb commented on #156
On my end yes. :wink:

[2015-06-29 13:40] MoOx commented on #156
I need to check first that color function can handle it.

[2015-06-29 13:40] MoOx commented on #168
Related issue: https://github.com/postcss/postcss-selector-parser/issues/12

[2015-06-29 16:11] nickdima opened #169 "1.8.0 breaks embedded base64 data-uri"
It seems that `1.8.0` breaks embedded base64 data-uri. It happens for me with an icon font. The warning in the chrome console is: 'Failed to decode downloaded font'
Reverting back to `1.7.1` it works.

[2015-06-29 16:13] ben-eb commented on #169
Are you using the `compress` option? Could you post a test case so that I could investigate?

[2015-06-29 16:24] nickdima commented on #169
No, we don't use `compress`.
I can't really share the fontdata since it's private but I'll try with something public and get back. Meenwhile this is the syntax used:

[code]

[2015-06-29 16:25] ai commented on #169
@ben-eb seems like it is my issue too, because my fonts was encoded.

[2015-06-29 16:27] ben-eb commented on #169
@ai @nickdima Does your authored CSS write the font sources like `url("data:application/...")` or `url(data:application/...)`? I think cssnano will remove quotes from that string; it didn't used to because the url detection wasn't as good as it is now.

[2015-06-29 16:29] ai commented on #169
@ben-eb it is `url(data` before cssnano :-/

[2015-06-29 16:34] ben-eb commented on #169
@ai :worried:

I need some specific test case so that I can fix the issue if you are experiencing problems since v2.

[2015-06-29 16:39] MoOx commented on #169
@ben-eb if he don't use `compress` cssnano is not executed. That's the weird part.
@nickdima your snippet is not modified in the playground http://cssnext.io/playground/ so I guess it might come from postcss-url. Can you add the option `url: false` and check if you have any difference ?
At least please share a snippet that is failure.

[2015-06-29 16:42] ben-eb commented on #169
@MoOx Yeah, just @ai reported that inline fonts were broken as of 2.0 so I didn't know if it was related to this. It might be postcss-url, indeed.

[2015-06-29 17:02] nickdima commented on #169
@MoOx in a minimal setup (a file with just that snippet, complied from the CLI) it seems to be keeping the data intact. My project's setup is more complex, using webapck with ExtractTextPlugin and UglifyJsPlugin, but by just reverting to `1.7.1` made it work again.
I'll try to investigate more tomorrow and post my findings.

[2015-06-29 22:32] hgl commented on #90
Yes, I will revise this PR soon. please consider merging https://github.com/postcss/postcss-custom-media/pull/10

[2015-06-30 06:53] MoOx commented on #116
To reproduce

[code]

Workaround: don’t use the same file as input and output

[code]

I guess it’s an edge due to the fact that the same file is used for reading & writing. Closing since nobody complain for that (and nobody will likely do)

[2015-06-30 06:53] #116 closed

[2015-06-30 06:54] MoOx commented on #61
Nobody has got the same issue, so I am closing.

[2015-06-30 12:30] MoOx commented on #164
I think some "stupid" plugin that does just one thing should not add browserlist. Only tricky plugin like autoprefixer, pixrem or this one.
I will use browserslist to detect some browsers usage (in this case firefox < 35) and add a new behavior to the feature activation map so we can define a range a browser to define when a plugin is useless.

[2015-06-30 15:30] topaxi opened #171 "1.8.0 warns for every selector I use if imports are involved"
index.css:
[code]

foo.css:
[code]

Shell or any build tool:
[code]

Tested using io.js 2.3.1

[2015-06-30 16:04] klaemo commented on #171
yep, same here.

[2015-06-30 17:01] MoOx commented on #171
Hum... Maybe related to recent update from postcss-custom-selectors by @yisibl ?

[2015-06-30 20:09] MoOx opened #172 "Only enable rem fallback when it's necessary"
Ref
- https://github.com/robwierzbowski/node-pixrem/issues/36
- https://github.com/robwierzbowski/node-pixrem/pull/37

[2015-06-30 20:11] MoOx commented on #171
https://github.com/postcss/postcss-custom-selectors/issues/22

[2015-06-30 20:53] MoOx commented on #171
A fix has been proposed https://github.com/postcss/postcss-custom-selectors/pull/23
Hope it will be merged and released asap.

[2015-07-01 04:18] MoOx commented on #171
Please reinstall cssnext to get the latest version of postcss-custom-selectors, fix has been merged an released.

[2015-07-01 04:18] #171 closed

[2015-07-01 04:19] MoOx commented on #169
By reverting, did you just reuse previous node_modules folder or did you really make a fresh & clean reinstall of 1.7.1 ?

[2015-07-01 09:01] MoOx opened #173 "Define cssnext as a postcss plugin internally"
We should follow cssnano api

- cssnext is defined as a postcss plugin (minor change)
- cssnext(options) return a postcss plugin (current behavior)
- cssnext(options).process(string) => result should be the implemented & promoted (new interface)
- maybe we can keep cssnext(string, options) api to avoid a major breaking change (current behavior) - not sure it's a good idea because postcss.plugin mi

[2015-07-01 09:02] ben-eb commented on #173
I wouldn't recommend overloading your main exported method. Embrace breaking changes. :+1:

[2015-07-01 09:03] MoOx opened #174 "pixrem 1.3.0 now accept a browsers option (& output less fallback for IE9/10/11)"
It has for now an hardcoded default value to IE8, so we need to pass our value or undefined in order to benefit of default browserslist value in order to disable px fallback when it's not needed.

[2015-07-01 09:05] ai commented on #173
Nice plan.

I think you should remove `cssnext(cssnext, opts)` API, because it makes code too complicated.

[2015-07-01 09:08] MoOx opened #175 "Throw an error if cssnext is used with default options not as the first plugin"
Some people include cssnext after other plugins, but since cssnext handle import by default, it should be the first so, if possible:

- if cssnext has default options || import to true && import hasn't been piped yet, should throw if not the first plugin
- if cssnext has default options || import to true && import has already been piped, should disable import (& should emit a warning ?) if not the

[2015-07-01 09:12] MoOx commented on #173
You cannot say that `var css = cssnext(string, options)` is complicated versus `cssnext(options).process(string).css` or `cssnext(options).process(string).then(result) { result.css ...})`. That's not true ;)

[2015-07-02 10:43] hellosmithy opened #176 "cssnext throwing error for missing vars when used with postcss-custom-properties"
Given a config:

[code]

If I use `--background` variable in my css, then cssnext complains that the variable is "undefined and used without a fallback" even though the the variable is defined and in fact is being applied in the rendered CSS.

I assume this is because cssnext is processing before passing off to the other plugins. Shouldn't we be able to control the order of execution (maybe this i

[2015-07-02 11:38] MoOx commented on #176
`postcss-custom-properties` is already included in cssnext.
Please read the doc http://cssnext.io/usage/#features you should get tour anwser. Otherwise, please use the Support chat.

[2015-07-02 11:38] #176 closed

[2015-07-02 17:57] awayken opened #177 "Custom Selectors sometimes generate unexpected output"
I'm seeing some really unexpected behavior with custom selectors. I can't quite pinpoint what's going on, but I can provide examples that I ran through the playground to show you what's going on.

Unless I'm wrong, all four sections should render the exact selectors and rules.

cssnext:
[code]

Output:
[code]

[2015-07-02 17:58] topaxi commented on #177
Duplicate of https://github.com/cssnext/cssnext/issues/163 and https://github.com/postcss/postcss-custom-selectors/issues/19

[2015-07-02 18:00] awayken opened #178 "Custom Selectors sometimes generate REALLY unexpected output"
I don't really know to explain this one except by example. It may be related to #177, which I just submitted, but it also might be unrelated.

Input:
[code]

Output:
[code]

[2015-07-02 18:01] topaxi commented on #178
Duplicate of #163 and postcss/postcss-custom-selectors#19 and #177

[2015-07-02 18:04] awayken commented on #178
@topaxi Since this ticket (and #177) do seem related to the postcss issue, do we keep them open until that task is completed and we can test that these examples work as expected? Or do we close these as duplicates?

[2015-07-02 18:04] topaxi commented on #178
@awayken that is up to the maintainers of cssnext i guess :)

[2015-07-02 18:06] awayken commented on #178
@topaxi All right. I'll leave my tickets as submitted for now, and I'll subscribe to the postcss ticket to get updates on progress.

[2015-07-02 22:38] ben-eb commented on #168
Fixed upstream, in release `1.1.2`.

[2015-07-03 10:23] MoOx commented on #177
Please follow #163 indeed.

[2015-07-03 10:23] #177 closed

[2015-07-03 10:24] MoOx commented on #178
Please follow #163.

[2015-07-03 10:24] #178 closed

[2015-07-03 10:27] MoOx commented on #168
Indeed, fixed. Working in the playground now.

[2015-07-03 10:27] #168 closed

[2015-07-03 10:29] MoOx commented on #112
Related https://github.com/ddprrt/postcss-playground

[2015-07-03 11:24] 0x8890 commented on #152
Not sure if the problem has been partially fixed but I'm using Node v0.12.4, OS X 10.10.3, and `--watch` seems to work only when there are no `@import` statements.

[2015-07-03 12:13] MoOx commented on #152
Ok seems related to #123

[2015-07-03 12:13] #152 closed

[2015-07-06 13:39] MoOx commented on #148
Closing for the same reason you might see here https://github.com/postcss/postcss/issues/409

We might better contact some editors dev (for grammar) to allow more flexible syntax.

[2015-07-06 13:39] #148 closed

[2015-07-06 15:16] dschissler opened #179 "Is there a way to define the autoprefixer setup in the CSS?"
I first started on `autoprefixer-core` and I was able to use the line `@autoprefixer(browsers: ['last 2 versions']);` in the CSS but this doesn't seem to work with cssnext.  Is there a way to do this in the CSS without setting this globally in my webpack setup?  I need this because there will be at least two profiles in my project.

[2015-07-06 15:31] MoOx commented on #179
It looks like a cssnext-loader issue, am I right?

[2015-07-06 15:41] dschissler commented on #179
Possibly but its relevant here too since specifically I want to define this in CSS and it is possible to do with just the autoprefixer-core plugin that is a part of cssnext.  I want to be able to define this per-CSS file it doesn't make sense to do it at a lower level in JS because I'd have to do a bunch of complicated switching for my different profiles.  I know that this functionality exists in

[2015-07-06 15:45] dschissler commented on #179
Also I'm using `postcss-loader` with the `cssnext` plugin so that I have room to grow.

[2015-07-06 15:47] MoOx commented on #179
cssnext `browser` options is supposed to work the same as autoprefixer one. It's a string and it's even passed to autoprefixer too (cssnext include autoprefixer).
Can you provide more code to show what you want to do?

Btw, cssnext have a `plugins` option to add more plugins after cssnext list.

[2015-07-06 15:48] MoOx commented on #179
cssnext propagate the option to autoprefixer https://github.com/cssnext/cssnext/blob/fa5979a76e497ce8cc350ee31437e12f2e265e70/src/index.js#L46-L61 (also some tests should confirm that's working).

[2015-07-06 15:49] dschissler commented on #179
I want to do this in CSS: `@use autoprefixer(browsers: ['last 2 versions']);` instead of this in javascript: `browsers: ['last 1 versions'],`.

[2015-07-06 15:52] dschissler commented on #179
The Javascript options are working, that isn't an issue.  I first started with `autoprefixer-core` directly and an example used this CSS option and it appeared to work/parse it but `cssnext` ignores it.  In my case the CSS setup is better.

[2015-07-06 15:52] MoOx commented on #179
OH. I see, so I guess you are using `postcss-use`. I don't see how it should not work.
What you are requesting is not really clear. postcss-use include plugin after the initial postcss instance, so now sure how it will behave... poke @ben-eb

[2015-07-06 15:55] dschissler commented on #179
Ok, I'll try that now.  I don't see that I ever installed that module but perhaps that is it.

[2015-07-06 16:07] ben-eb commented on #179
I would have thought that its usage would be no different with cssnext.

[2015-07-06 16:08] MoOx commented on #179
It should not.

[2015-07-06 16:12] dschissler commented on #179
Thanks everyone.  I was never using `postcss-use` so it must have not been parsing it out of the CSS, although I thought that it was.  So its another issues.

[2015-07-06 16:12] #179 closed

[2015-07-07 14:48] MoOx opened #180 "Clearly show what cssnext includes (autoprefixer, cssnano...)"
I am tired of notifying people about duplicate use + missuse of cssnext as a plugin. Ref https://github.com/eggsdesign/egg-incubator/issues/1

And #175 will not help, especially if people add autoprefixer after.

We should add something in the doc + automate some warnings. Ref https://github.com/postcss/postcss/issues/325 poke @ai @ben-eb

[2015-07-07 14:54] ai commented on #180
This is question about perfomance or we have some big issue? I think to wait for other plugin packs to understand how people use packs. But I can force this task if we have bigger problem.

[2015-07-07 15:04] MoOx commented on #180
It's not a perf issue, more a usage one. It's useless to add some plugins twice.
It's indeed an issue with plugins pack. For now there is not too many, but I think it's enough to decide that we should do something to prevent useless multiple passes...
I will think about that.
Maybe I will add a plugin in cssnext that will check the plugins list during the process() (so I can see all plugins used)

[2015-07-07 15:05] ai commented on #180
Yeap, `plugin.postcssPlugin` has added special for this cases.

[2015-07-07 15:21] ben-eb commented on #180
@MoOx I've pretty much written it already, it is a core module inside cssnano. I could expand some of the logic, use the warnings API and extract it into a separate module if you like.

[2015-07-07 15:23] MoOx commented on #180
Good idea. Please take in mind that I would like to be able to customize the message a little bit so I can produce something like

[2015-07-07 15:24] MoOx commented on #180
In your case I understand the idea to do that silently for some, but it does make sense to warn for most use cases.

[2015-07-07 15:27] ben-eb commented on #180
I can make silent an off by default option. We could do some customisable string substitution, like `You are using %s more than once, which is unnecessary.`

[2015-07-07 15:33] MoOx commented on #180
Yeah. Or more something like a template string (it's es6 below with template string + fat arrow function + destructuring for parameter)

[code]

ES 5 version

[code]

[2015-07-07 15:38] ben-eb commented on #180
What about this:

* `opts.silent (bool)`, don't show any warnings
* `opts.format (function)`, format function for each plugin message
* `opts.exclude (array)`, plugins that should not be deduplicated

And I like the name `postcss-filter-plugins`. :+1:

[2015-07-07 15:43] MoOx commented on #180
lgtm except `format` name which seems unclear. I think we should go for something verbose like `(message|warning)|(Formatter|Template)`.

[2015-07-07 15:44] ben-eb commented on #180
Would `opts.template` suffice?

[2015-07-07 15:47] MoOx commented on #180
Why not. I like long name. I should code in Java.

[2015-07-08 10:21] deevee opened #182 "file in npm package is in year 2147"
the following file: src/\_\_tests\_\_/fixtures/cli.watch-import-import.css has an incorrect date in the npm package of cssnext:
-rw-r--r--  1 me  wheel     7B 14 sep  2147 cli.watch-import-import.css

the file has a correct date when cloning the repo from github

[2015-07-08 10:28] MoOx commented on #182
Haha that's weird. Is this a real issue or just a small detail ?
I am not sure why npm changes the dates...

[2015-07-08 13:58] deevee commented on #182
small detail, but in case someone wants to make an archive containing this it will give an error saying that some files are in the future

[2015-07-09 22:52] jxnblk commented on #128
Love what you're doing here on cssnext. If you feel like Basscss is relevant to this page here's the details:

Name: Basscss
Hompage url: http://basscss.com
Brand Guidelines/Licensing: ¯\\_(ツ)_/¯
Logo: https://github.com/basscss/logo/tree/master/images

[2015-07-10 09:47] Globegitter commented on #149
Looking forward to seeing that implemented :)

[2015-07-13 06:33] magsout commented on #149
Good.I'm trying to use stylelint

[2015-07-13 07:05] MoOx commented on #149
For now you should be able to use the [postcss-import `plugins` option](https://github.com/postcss/postcss-import#plugins) to lint all imported files. We still need to find a way to apply some plugins to all input (main input passed to postcss + imported files using the previously mentioned postcss-import option).

What about we create an option to do that? Here is some ideas for the name (most ar

[2015-07-14 05:42] MoOx commented on #163
Complete rewrite of this plugin is on the way https://github.com/postcss/postcss-custom-selectors/pull/27

[2015-07-15 12:41] MoOx commented on #61
Someone just get the same issue, I will make something to avoid this again.

[2015-07-15 12:50] bloodyowl commented on #61
how about a `npm_loader` field, @sokra ?

[2015-07-15 12:50] iam4x commented on #61
(full disclosure: I'm the culprit)

[2015-07-15 16:59] #61 closed

[2015-07-15 16:59] #163 closed

[2015-07-15 17:11] iam4x commented on #61
Great job @MoOx thank's :+1:

[2015-07-15 17:21] MoOx commented on #182
If you have a minute could you check with latest version (1.8.1)? Thanks in advance.

[2015-07-15 17:22] MoOx commented on #128
I will wait for 3 others to get a minimum of 9 "users".

[2015-07-15 17:25] MoOx commented on #169
Any update on this?

[2015-07-15 17:26] MoOx commented on #172
Closing in favor of #174

[2015-07-15 17:26] #172 closed

[2015-07-15 17:31] ben-eb commented on #169
@MoOx I fixed this in cssnano here: https://github.com/ben-eb/postcss-normalize-url/commit/b53f7522c52184c208c1f9a4e984c60e56870369

[2015-07-15 17:33] MoOx commented on #169
Thanks! So I am closing this.

[2015-07-15 17:33] #169 closed

[2015-07-15 22:18] ai commented on #128
We picked plugins manually but it is a most of cssnext pack.

Name: Amplifr
Hompage url: http://amplifr.com/en
Brand Guidelines/Licensing: None currently
Logo: https://amplifr.com/logo.png

[2015-07-15 23:53] philipwalton commented on #158
I'm just seeing this plugin for the first time, and I already see some problems with it. I filed https://github.com/luisrudge/postcss-flexbugs-fixes/issues/18 and https://github.com/luisrudge/postcss-flexbugs-fixes/issues/19.

Assuming these are fixed I think it'd be OK to add, but my concern is it might make users think they don't have to worry about these issues at all anymore, when in fact many

[2015-07-16 01:48] luisrudge commented on #158
Yeah @philipwalton. I thought about that too. Most of the stuff are too context dependent, so you need to check html to see if that'll happen or not. One thing we discussed in an issue, is to emit warnings about other bugs, but I don't like that idea either.

[2015-07-16 05:12] MoOx commented on #158
Good points guys.

Warnings can help at least https://github.com/luisrudge/postcss-flexbugs-fixes/issues/17

[2015-07-16 08:03] kewah commented on #149
what about `beforeTransform` ? as you said it's before transformations

[2015-07-16 08:04] deevee commented on #182
same problem

[2015-07-16 08:05] MoOx commented on #149
Since it's a plugins array, maybe it should contains "plugins" in the option name.
`beforeTransformPlugins` is long, but clear.

[2015-07-16 08:22] kewah commented on #149
:+1:
`beforeTransform` sounds better for a callback but not for an array

[2015-07-16 08:53] magsout commented on #149
`beforeTransformPlugins`

lgtm :+1:

[2015-07-16 12:06] MoOx opened #185 "cssnext v2 roadmap (BREAKING CHANGES are welcome)"
**Drop you ideas here if you are thinking about some breaking changes !**

- get rid of the simple api that can return a string OR an object depending on your config in favor or the async api `cssnext(config).process(input[, runtimeOptions])` offered by PostCSS 4.2+

Do not hesitate to drop anything here, there is no bad ideas, only ideas ;)

[2015-07-18 13:53] klaemo commented on #185
fixing file watching would be nice

[2015-07-18 17:03] topaxi commented on #185
Not a big one but will the process method return a promise?

[2015-07-18 17:22] ben-eb commented on #185
@topaxi It supports both sync and async usage.

https://github.com/postcss/postcss/commit/86eeb0c3ef64a47c3c1d26fdd6e37b7dbd7bd2e1

[2015-07-18 17:23] topaxi commented on #185
@ben-eb nice! :)

[2015-07-18 19:37] Zacqary opened #186 "Should custom properties be ignored when not scoped to :root?"
Just started playing around with cssnext, and I immediately got this error when testing out what happened when I assigned something a custom property:

[code]

So I see what this is about. Custom properties, when used for `var()`, want to be placed inside `:root` so that they're globally available. But `var()` isn't the only reason why you might want to use custom properties.

I haven't seen a lot

[2015-07-19 14:56] ben-eb commented on #180
@MoOx When warning the user, should we disable the affected plugin too?

[2015-07-19 17:17] MoOx commented on #180
Why not, but I would prefer that user disable duplicate usage :)

[2015-07-19 17:19] MoOx commented on #186
You just want to get rid of the warnings right?
If so, we might implement a simple option to do that. Would it be enough for you?

[2015-07-19 17:19] ben-eb commented on #180
Whichever you prefer, it's your use case. :smile:

[2015-07-19 18:50] Zacqary commented on #186
That sounds like it'll work.

At some point I might be able to submit a PR for a way to expose custom
props to Javascript, though this would probably require a runtime so I'm
not sure if it's within the scope of the project.
On Jul 19, 2015 1:19 PM, "Maxime Thirouin" <notifications@github.com> wrote:

[2015-07-20 04:45] jonathanong commented on #185
yeah i really need watching. it's embarrassing to recommend cssnext to coworkers when watching doesn't even work.

[2015-07-20 07:43] MoOx commented on #185
@jonathanong @klaemo watcher issue is the next thing on my todo list. Except a patch soon.

[2015-07-20 09:38] ben-eb commented on #180
@MoOx Done! https://github.com/postcss/postcss-filter-plugins

[2015-07-21 13:31] MoOx commented on #186
To expose (keep) custom props, you can use the following option:

[code]

With that in mind, will you be happy if we add an option in customProperties to hide warnings (like `warnings: false`)?

[2015-07-21 13:32] Zacqary commented on #186
Sure, sounds fantastic.
On Jul 21, 2015 9:31 AM, "Maxime Thirouin" <notifications@github.com> wrote:

[2015-07-21 14:08] #186 closed

[2015-07-21 14:09] MoOx commented on #186
If you install and reinstall cssnext, you should get the new version of postcss-custom-properties (4.2.0) that include the `warnings` option.

[2015-07-21 22:53] silvenon opened #188 "Skip postcss-calc if IE > 9"
[postcss-calc](https://github.com/postcss/postcss-calc) is an optimization plugin, it doesn't allow you to use `calc()`, it just saves you from using it too much.

[2015-07-22 04:57] MoOx commented on #188
I know what provide postcss-calc since I wrote this plugin.
In order to provide the best browser support for, let's say, var(), it makes sense to provide this optimization so a value `calc(var(--fontSize) * 2)` can be directly reduced to a value that works even in IE 8.

That said, it will be nice to disable this feature if IE in the scope is > 9. Related to #164

[2015-07-22 05:02] MoOx commented on #188
Also please keep in mind all the following known issues http://caniuse.com/#search=calc so not sure if it make sense to disable this plugin for now...

You can still disable it by using the following option:

[code]

[2015-07-22 05:38] MoOx commented on #123
Looks like a chokidar bug https://github.com/paulmillr/chokidar/issues/288#issuecomment-123570165
I will push a workaround (by not relying on ready event).

[2015-07-22 11:22] silvenon commented on #188
Oh, I see! I didn't see it as a fallback, my bad :sweat_smile:

[2015-07-22 14:37] travco opened #189 "Evaluate postcss-extend for inclusion"
### [postcss-extend](https://github.com/travco/postcss-extend)

Developed to conform to the [extend spec by Tab Atkins](https://tabatkins.github.io/specs/css-extend-rule)

'TLDR' primary points of contention:
- **Order of Processing/Specificity** In normal cases, the document is processed top-to-bottom, however as a feature-fallout of the implementation, it is capable of extending in an anti-patte

[2015-07-22 20:42] #123 closed

[2015-07-22 20:58] MoOx commented on #123
I will release this fix tomorrow morning (in 8 hours).
Meanwhile you can try it by installing cssnext from git (here are the installation instructions https://github.com/cssnext/cssnext/commit/1eaca8309b08cce4e5f189b8a411b1f5f572a52d)

Should be better now. Sorry for the delay guys.

[2015-07-23 07:55] klaemo commented on #123
Thank you, Maxime 🎉

[2015-07-27 18:36] jedmao commented on #175
I have nested and nested-props running on each import, which is why I also have nested and nested props running before cssnext. Basically, I don't want it trying to unwrap nested syntax more than once for the same code, so it unwraps nesting on the non-imported code first, then unwraps nesting on each import as they come.

[2015-07-27 19:27] MoOx commented on #175
What you are asking will be doable with this option #149

[2015-07-27 19:50] jedmao commented on #175
Thanks! I'll follow that thread.

[2015-07-28 15:28] MoOx commented on #189
If @tabatkins has 1 min or 2, I would be very happy to have his opinion on this.

[2015-07-28 17:25] travco commented on #189
I'll put this here so it doesn't need to be repeated...

---------------------------------------
##### tabatkins commented on May 4 in [postcss#321](https://github.com/postcss/postcss/issues/321):
@extend, as defined in the draft, cannot be emulated by a preprocessor. It's impossible, due to the way specificity works. @extend, as Sass does it, is slightly different - specificity is different, and

[2015-07-30 08:19] nerijusgood commented on #152
mac, node v0.12.2
"cssnext": "^1.8.2",

cli: cssnext --watch src/app.css build/build.css

with or without imports it does not watch. Paths are correct since it builds without watch.

[2015-07-30 10:50] MoOx commented on #152
Can you try with the --verbose option and show the result here please?

[2015-07-31 05:02] t32k commented on #128
We love cssnext :heart:

Name: Kaizen Platform, Inc.
Hompage url: https://kaizenplatform.com/
Brand Guidelines/Licensing: None currently
Logo: http://bit.ly/1Ubb08T

[2015-07-31 19:18] jedmao commented on #128
Name: HauteLook
Homepage URL: http://hautelook.com/
Brand Guidelines/Licensing: I'm told it would be fine to represent HauteLook here.

[![hautelook-logo](https://cloud.githubusercontent.com/assets/1058243/9015429/84557c52-378e-11e5-8638-da621d3e90a2.png)](http://hautelook.com/)

[2015-08-03 06:23] MoOx commented on #73
Do you think js support for the config (like webpack) is mandatory?
I plan to rely on [rc](https://www.npmjs.com/package/rc) but for now this module only handle json/ini. Note that it's easy to add a parser (eg: yaml), so I guess trying to eval() the config might be doable. Not sure if that's a smart/secure idea.

[2015-08-04 04:40] MoOx opened #191 "Replace npmignore by exclusion filter in package.json"
Ref https://github.com/stylelint/stylelint/pull/333

[2015-08-06 06:26] MoOx commented on #100
This way to handle the "issue" seems compromised. See how babel will evolve https://github.com/babel/babel/issues/2168.
I opened a discussion on PostCSS repo to discuss about some things I could bring back to its core https://github.com/postcss/postcss/issues/477

I need to think about how cssnext can evolve to follow this changes. Maybe it should die and provide an .postcssrc has a replacement in

[2015-08-06 06:28] MoOx commented on #185
Closing for now since I am not even sure this project will make sense in a near future.
Related:
- https://github.com/babel/babel/issues/2168
- https://github.com/postcss/postcss/issues/477

[2015-08-06 06:28] #185 closed

[2015-08-06 06:29] MoOx commented on #133
Closing due the lack of interest.

[2015-08-06 06:29] #133 closed

[2015-08-06 06:29] MoOx commented on #160
Should be a postcss issue.

[2015-08-06 06:29] #160 closed

[2015-08-06 06:30] MoOx commented on #158
I don't think it's a good idea anymore.

[2015-08-06 06:30] #158 closed

[2015-08-06 06:31] MoOx commented on #110
Closing due to lack of interest.

[2015-08-06 06:31] #110 closed

[2015-08-06 06:31] MoOx commented on #112
Well, who cares?

[2015-08-06 06:31] #112 closed

[2015-08-06 06:32] MoOx commented on #122
Any updates on this ? Otherwise I will end up by closing this issue (not even sure why...)

[2015-08-11 19:49] jeluard opened #192 "Messages can't be disabled in CLI"
It would be nice to be able to disable `messages` when using `cssnext` CLI. Also you might want to consider having the `browser` messages disabled by default as this is pretty intrusive and can't be hidden (I'm using a CSS DSL that generates some invalid CSS and always trigger the reporter).

[2015-08-11 20:15] MoOx commented on #192
One workaround is to make a plugin that will remove some messages you don't want to see

[code]

You can use a regex using  `...text.match(/regex/)` if messages are dynamic.

[2015-08-11 20:26] jeluard commented on #192
Can I do that when using `cssnext` CLI? I'm using it as a shell command from a build tool without node support.

[2015-08-11 20:32] MoOx commented on #192
I think CLI support a config file. Try `$ cssnext --help`.
Your file might be a .js and like this

[code]

[2015-08-12 10:52] Knorkebrot opened #193 ""compress: true" results in "Cannot read property 'split' of undefined" on foundation.css"
Hi,

I'm using cssnext and it's builtin cssnano to compile and compress all of my css files, no matter if they are "enhanced" css or not. I updated my packages today and now it fails on [foundation.css][f]:

[code]

postcss.json:
[code]

But it works if I pipe the output through cssnano's cmd.js:

[code]

[f]: http://foundation.zurb.com

[2015-08-12 10:53] MoOx commented on #193
Can you provide the entire stack trace of the issue? That will help a lot. Thanks.

[2015-08-12 10:58] Knorkebrot commented on #193
Sorry, I'm absolutely not a node guy. That's all it outputs and postcss doesn't seem to have a verbose flag or something, so how do I do that?

[2015-08-12 11:07] ben-eb commented on #193
Is this the precompiled CSS that you get in the full foundation download?

[2015-08-12 11:08] MoOx commented on #193
I guess postcss cli is hidding the stack trace.
Can you try cssnext cli ?

[code]

[2015-08-12 11:13] Knorkebrot commented on #193
@ben-eb Yes, not the minified one, but the "normal"

@MoOx Not really more info there unfortunately:

[code]
(Same thing if I don't use cat, just in case)

[2015-08-12 11:14] MoOx commented on #193
Weird. Thanks for reporting, we will take a look.

[2015-08-12 11:15] MoOx commented on #193
@ben-eb it works without --compress (I just tried), so it looks like a cssnano issue. Can you take a deeper look ?

[2015-08-12 11:21] ben-eb commented on #193
Can repro with this:

[code]

[code]

Pretty sure it's a duplicate of this issue but I'm finding it difficult to test the behaviour.

https://github.com/ben-eb/postcss-merge-rules/issues/3

[2015-08-12 11:30] Knorkebrot commented on #193
If it helps: works in 1.7.1, but not in 1.8.0+

[2015-08-12 12:13] jeluard commented on #192
It works perfect thanks!

For the record I used `cssnext -C config.js`

with `config.js`

[code]

[2015-08-12 13:53] yurynix commented on #193
I also have the same problem, and I also use foundation.
My stack if it helps:
[code]

The offending decl:
[code]

[2015-08-12 14:23] travco commented on #189
I think tabatkins may be understandably busy to drop in on this one @MoOx.

[2015-08-12 14:26] MoOx commented on #189
Probably, like I am :)
Meanwhile, you can use it via the cssnext `plugins` option.

[2015-08-12 14:31] ben-eb commented on #193
It's a *comment*? OK, thanks. :+1:

[2015-08-12 14:32] ben-eb commented on #193
By the way @yurynix how did you track down the error to that declaration?

[2015-08-12 14:50] yurynix commented on #193
@ben-eb It crashes with the error:
Cannot read property 'split' of undefined
    at /home/vagrant/application/sf-dashboard/node_modules/cssnext-loader/node_modules/cssnext/node_modules/cssnano/node_modules/postcss-merge-rules/index.js:93:41

So what I did is just add `if (!decl.prop) { console.log(decl); }`

[2015-08-12 14:53] ben-eb commented on #193
Awesome, thanks. Managed to track it down. https://github.com/ben-eb/postcss-merge-rules/commit/a80a34547d2cd45fa9105a22e42771dd20dc689f

[2015-08-12 14:54] MoOx commented on #193
So we can close ?

[2015-08-12 14:58] Knorkebrot commented on #193
Works for me, great! Thank you guys very much :)

[2015-08-12 14:59] MoOx commented on #193
Thanks @ben-eb !

[2015-08-12 14:59] #193 closed

[2015-08-12 15:00] ben-eb commented on #193
:smile:

[2015-08-12 15:19] ben-eb opened #194 "Plugin renaming compatibility with postcss-filter-plugins"
As cssnext renames the plugins it consumes as `cssnext`, https://github.com/postcss/postcss-filter-plugins removes most of cssnext's modules as duplicates. Perhaps it would be better to inject a property onto those plugins that the reporter could consume (maybe `alias`)?

[2015-08-12 15:57] travco commented on #130
Given the [snippets in the current site](http://cssnext.io/setup/#as-a-javascript-library) this should be closeable?

[2015-08-12 16:06] MoOx commented on #130
This is not for beginners.

This is https://babeljs.io/docs/setup/

But according to the way cssnext should go (focused on being a postcss preset, [according to Babel move](https://github.com/babel/babel/issues/2168)), most of the website might probably disappear in the next major release when postcss will have it's own. Related https://github.com/postcss/postcss/issues/391#issuecomment-130356396

[2015-08-15 12:39] dhruvbhatia opened #195 "Compress option not working in CLI - possible conflict with other options"
Using the `-c` flag within the CLI does not actually compress a given input file under `v1.8.3`.

E.g. let's consider the [compression example](http://cssnano.co/) on the cssnano homepage:

**input.css**
[code]

We'd expect `cssnext -c input.css` to give us this:
[code]

However we just get back the original `input.css` (non-compressed).

After some digging I found that adding the following flags

[2015-08-15 15:10] ben-eb commented on #195
Might be related to this: https://github.com/cssnext/cssnext/issues/194

[2015-08-15 15:57] MoOx commented on #195
Not sure how it's related since nobody raised this issue until now.
@dhruvbhatia do you get the same issue without the charset rule?

[2015-08-15 18:32] remitbri opened #196 "dependencies: cssnano update"
cssnano was recently updated to 2.2.0, fixing a nasty bug (ben-eb/cssnano/issues/36) that is bound to make some people scream in despair that their compressed css is broken, whereas in fact, it is now written as it should have been all along :-/

[2015-08-16 00:30] dhruvbhatia commented on #195
Thanks for the quick responses!

Yes I get the same issue, even without the charset rule. I.e. Even basic input isn't compressed.

If you can't reproduce then perhaps there's something wrong at my end? Are you able to produce the expected output in the example above?

[2015-08-16 08:07] dhruvbhatia commented on #195
I tested historical versions in clean environments and discovered that the unexpected behaviour only started in `v1.8.0` (compression worked fine prior).

This coincides with the upgrade to cssnano `v2.x` - #166 as per the [v1.8.0 release notes](https://github.com/cssnext/cssnext/blob/master/CHANGELOG.md#180---2015-06-29).

`v1.7.1` works fine so using that for the time being, but I'll keep diggin

[2015-08-20 08:14] ymauray commented on #195
I confirm that starting from v1.8.0, compression does not work. I use cssnext as a PostCSS plugin.

[2015-08-20 08:59] mikedidthis opened #197 "Escaping string for variable value."
Firstly, thanks for all the hard work!

Not an issue, more a question. Is it possible to use any arbitrary string as variable value? An example from lesscss:

[code]

My use case:

[code]

Output:

[code]

I totally understand this may not be possible and that cssnext isn't lesscss.

:cake:

[2015-08-20 13:52] nthtran opened #198 "@import doesn't work with postcss@5.0.0 in Webpack"
`@import` results in an error when built with Webpack, `cssnext` and the latest `postcss-loader@0.6.0`. The previous version of `postcss-loader` works fine however.

[2015-08-20 14:54] boopathi opened #199 "Add a note for url(...) with css-modules in webpack."
When you use cssnext with webpack's css-loader in module mode, `url(./file)` is transformed to `url(file)`. This is done by [postcss-url](https://github.com/postcss/postcss-url) included in cssnext. Because of this issue, if you use `url(./image.png)`, the css-loader?module gets it as `url(image.png)` and treats it as a module and searches in moduleDirectories rather than the relative path.

So, w

[2015-08-20 21:28] apapirovski commented on #195
@ben-eb seems correct to me based on my testing. When I changed postcssPlugin names to be unique, everything started working again.

[2015-08-22 10:32] MoOx commented on #198
postcss-import is not compatible with postcss 5.x yet.

[2015-08-22 10:34] MoOx commented on #197
You should be able to escape css with \, this it not related to string or something.

example of valid css classname: `.stuff\@md`.

[2015-08-22 10:43] MoOx commented on #196
According to how cssnano has been included (with ^) this will be automatic.

[2015-08-22 10:43] #196 closed

[2015-08-22 10:52] MoOx commented on #195
Tests were passing when 1.8.3 were released, and now the same tests are broken with a fresh install.
So this is related to a breaking change introduced by a recent cssnano "minor" update (that should have been major ?).
I will fix that by addressing #194

[2015-08-22 11:06] mikedidthis commented on #197
I may have picked the wrong wording. I want to use any string for the variable value, this may not be a css value, for instance:

[code]

Thanks for the response, I appreciate this maybe out of the scope of cssnext.

[2015-08-22 16:55] ben-eb commented on #195
You can work around this by passing this config to cssnext:

[code]

[2015-08-24 14:40] enguerran opened #200 "css.walkRules is not a function"
I got this error message:

[code]

Steps to reproduce are easy:

[code]

style.css contains the following:

[code]

Then just install and run the CLI:

[code]

Result:
![screenshot from 2015-08-24 16 39 43](https://cloud.githubusercontent.com/assets/701648/9442974/d2dd46f4-4a7e-11e5-98b2-ea7e4e4b13bb.png)

Versons:
[code]

Maybe a dependency is causing this issue, is not it?

**[EDIT]**
It seems t

[2015-08-24 14:52] MoOx commented on #200
It looks like a dep is now using postcss v5.x but has introduced this upgrade has a minor release...

It seems that someone didnt respect semver...

I am on vacations so I cannot handle this atm. PR welcome.

[2015-08-24 14:52] bloodyowl commented on #200
cannot reproduce here

<img width="762" alt="screen shot 2015-08-24 at 16 52 27" src="https://cloud.githubusercontent.com/assets/1688645/9443278/83d8ddbe-4a80-11e5-81eb-b3a9b868b82a.png">

[2015-08-24 14:57] magsout commented on #200
WFM

![capture d ecran 2015-08-24 a 16 56 38](https://cloud.githubusercontent.com/assets/1997108/9443395/2120799c-4a81-11e5-94d9-4e4250c85b32.png)

[2015-08-24 15:13] enguerran commented on #200
May it be https://github.com/robwierzbowski/node-pixrem?
:'(

![screenshot from 2015-08-24 17 12 00](https://cloud.githubusercontent.com/assets/701648/9443779/5b0bb4b2-4a83-11e5-9821-7d61b0a8ef74.png)

[2015-08-24 15:23] enguerran commented on #200
I try to follow https://github.com/cssnext/cssnext/blob/master/CONTRIBUTING.md but I cannot `npm install` as I get this following error:

[code]

Any clue?

[2015-08-24 15:38] enguerran commented on #200
Ok, So I `npm install`ed the project by modifying `"eslint": "^1.0.0-rc-1"` to `"eslint": "~1.0.0-rc-1"`. But now I get the following error with `npm test`:

[code]

Any clue?

[2015-08-24 15:44] enguerran commented on #200
Ok, so I fixed this by using `io/2.3.0` instead of `node/0.12.7`. PR is coming...

[2015-08-24 19:03] magsout commented on #200
See https://github.com/cssnext/cssnext/pull/201#issuecomment-134341131

[2015-08-24 19:03] #200 closed

[2015-08-25 05:36] MoOx opened #202 "Upgrade to postcss 5.x"
Most plugins are ready but there is still some work to prepare.

[2015-08-25 05:36] MoOx commented on #198
It is now. But cssnext is not yet. See #202

[2015-08-25 05:36] #198 closed

[2015-08-25 06:16] #194 closed

[2015-08-25 06:16] #195 closed

[2015-08-25 06:17] MoOx commented on #195
Fix released as 1.8.4

[2015-08-25 06:19] MoOx commented on #197
You can in theory use any value that respect css syntax. cssnext use postcss so be sure to provide something that the parser accept. Or you can try to add your own parser, but indeed, that's not the scope of cssnext.

[2015-08-25 06:19] #197 closed

[2015-08-25 15:48] ai opened #203 "Add mixins by new proposal"
New proposal by @tabatkins with mixins by `@apply` rule http://tabatkins.github.io/specs/css-apply-rule/

[2015-08-26 23:14] DoronBrayer opened #204 "Add support for :blank pseudo-class"
Hey, I love this postprocessor! Great job!

Please add support for the [:`blank` pseudo-class](http://www.w3.org/TR/selectors4/#blank-pseudo).
The `:blank` pseudo-class is kind of like the prettier cousin of `:empty`.
The `:blank` pseudo-class will select an element as long as it has no text and no other child elements, regardless of white space. So it could contain white space, line breaks, etc.,

[2015-08-26 23:29] DoronBrayer opened #205 "Add support for :has pseudo-class"
Hey, I love this postprocessor! Great job!

Please add support for the [:`has` pseudo-class](https://drafts.csswg.org/selectors/#relational).
The `:has` pseudo-class is similar to [jQuery’s .has()](https://api.jquery.com/has/) but with some broader abilities.
This feature will boost the CSS immensely.

[2015-08-27 07:21] MoOx commented on #204
This require some knowledges about the actual DOM tree, so it's impossible from cssnext side (preprocessor, no client side polyfill involved). Sorry.

[2015-08-27 07:21] #204 closed

[2015-08-27 07:21] MoOx commented on #205
Same anwser has https://github.com/cssnext/cssnext/issues/204#issuecomment-135318751

[2015-08-27 07:21] #205 closed

[2015-08-27 11:53] cedriceberhardt opened #206 "CLI - compress doesn't remove comments"
When using the compress option, the comments are not removed and it keeps the line breaks as well. Looks weird because cssnano alone works perfectly - both v2.6.1.

[2015-08-27 16:54] MoOx commented on #206
It's seems that postcss-discard-comments is not run for a reason I don't understand. I got this issue yesterday but was too lazy to check out why. @ben-eb any idea why ?

[2015-08-27 17:03] ben-eb commented on #206
I think it's a PostCSS 5 issue.

https://github.com/ben-eb/cssnano/issues/51

[2015-08-27 18:14] cedriceberhardt commented on #206
PostCSS 4 looks like to be used for both packages. And I tried with cssnano too and I didn't have problems. It worked well. No comments, no break lines. I took the first example in the cssnano homepage.

[2015-08-27 18:22] ben-eb commented on #206
Alright, I'll have a look into it. :smiley:

[2015-08-30 04:03] Gerhut opened #207 "Add "input" and "output" option to config file"
It will make npm script written more conveniently without specify input and output files in command line.

[2015-09-01 19:05] MoOx opened #208 "★ Convergence with PostCSS (make cssnext a preset, a la Babel 6.0)"
Following the [move of Babel 6.0](https://github.com/babel/babel/issues/2168), we should thinking to:
- [ ] [move part of cssnext interface into postcss core](https://github.com/postcss/postcss/issues/477)
- [ ] think about how to make cssnext more like an easy preset so people can choose what they want.
- [x] make [postcss-cssnext](https://github.com/cssnext/postcss-cssnext)

[2015-09-01 23:19] ben-eb commented on #206
Should be fixed now by https://github.com/postcss/postcss-filter-plugins/commit/1115a91f2314dff77402c12d567e48f61e08ab20

[2015-09-02 07:47] MoOx commented on #206
Cool, thanks!

[2015-09-02 07:47] #206 closed

[2015-09-03 15:07] awayken commented on #208
:cry: Reading this makes me sad, but as long as there is a neat and (fairly) easy way to convert existing cssnext sites to whatever is next for the project, then I'm up for it.

[2015-09-03 15:08] awayken commented on #208
As a preset, would cssnext become something like postcss-cssnext?

[2015-09-03 15:15] MoOx commented on #208
Be reassured, I won't kill the baby. Whatever solution is choosen, this will be easy to do for everyone, with a clear CHANGELOG on what to do.
I can see 2 things indeed:
- create postcss-cssnext and encourage the usage
- maybe keep "cssnext" package for a while that is basically what cssnext is today, probably with some changes under the hood, but not for end user.

That said, I think the most imp

[2015-09-03 15:16] MoOx commented on #208
In short, you should be happy that we will work on something better for everyone ;)

[2015-09-03 15:30] awayken commented on #208
That's good to hear. I still really love the ideas behind cssnext, so I'm glad there are the beginnings of a plan.

[2015-09-03 17:35] jedmao commented on #202
Are we just waiting for some plugins to upgrade? If so, can we get a checklist of the ones remaining?

[2015-09-03 18:08] louh commented on #202
Autoprefixer, for one - waiting on that to be v6

[2015-09-03 18:31] ben-eb commented on #202
cssnano 3 will support PostCSS 5. Coming shortly after autoprefixer 6.

[2015-09-04 09:00] cedriceberhardt commented on #206
:+1:

[2015-09-07 04:30] jedmao commented on #202
It looks like [Autoprefixer 6.0.1](https://github.com/postcss/autoprefixer/releases/tag/6.0.1) and [cssnano 3.0](https://github.com/ben-eb/cssnano/releases/tag/v3.0.0) are now released. Is there anything else holding us back now?

[2015-09-07 05:03] MoOx commented on #202
- [x] "autoprefixer": "^6.0.0",
- [x] "cssnano": "^3.0.0",
- [x] "pixrem": "^2.0.0",
- [x] "postcss-calc": "^5.0.0",
- [x] "postcss-color-function": "^2.0.0",
- [ ] "postcss-color-gray": "^?",
- [ ] "postcss-color-hex-alpha": "^?",
- [ ] "postcss-color-hwb": "^?",
- [ ] "postcss-color-rebeccapurple": "^?",
- [x] "postcss-color-rgba-fallback": "^2.0.0",
- [x] "postcss-custom-media": "^5.0.0",
- [x]

[2015-09-07 06:23] jedmao commented on #202
@MoOx you can cross postcss-pseudoelements off the list now. See https://github.com/axa-ch/postcss-pseudoelements/releases/tag/3.0.0

[2015-09-07 06:38] jedmao commented on #202
@MoOx see https://github.com/postcss/postcss-color-gray/pull/5

[2015-09-07 06:52] jedmao commented on #202
@MoOx see https://github.com/postcss/postcss-color-hex-alpha/pull/5

[2015-09-07 06:57] jedmao commented on #202
@MoOx see https://github.com/postcss/postcss-color-hwb/pull/6

[2015-09-07 07:03] jedmao commented on #202
@MoOx see https://github.com/postcss/postcss-color-rebeccapurple/pull/6

[2015-09-07 07:07] jedmao commented on #202
@MoOx see https://github.com/postcss/postcss-font-variant/pull/7

[2015-09-07 15:28] onigoetz commented on #202
@jedmao nice work !
@MoOx can you merge all these in ? cssnext is the last package in my pipeline on postcss4 and I would love to upgrade it.

[2015-09-07 18:52] MoOx commented on #202
It's not that easy. I think I can't just "merge" yet, because cssnext runners are sync, and plugins like cssnano are now async only.
I will need to release this in a major release, and so, I will probably need to deprecate all runners in favors of postcss ones. But I need to do this the right way, by warning everyone & with a proper changelog on how to upgrade.

That said, I will merge & publish a

[2015-09-07 20:29] jedmao commented on #202
@MoOx I only care about the plugin use-case myself. Is there anything else I can do to help?

[2015-09-08 05:01] MoOx commented on #202
What do you think about creating a postcss-cssnext that will "just" handle all features plugins but no options like import, url, cssnano ? I can create a repo here so we can extract the main code.
I think not including plugins like import, url & cssnano (that are considered cssnext options, not "features") to make classic postcss usage more intuitive. I don't really know if this postcss-cssnext sh

[2015-09-08 05:07] magsout commented on #208
I think the idea of babel is interesting. It remains modular, eco-system is consistent and everything goes in the right direction. I like the idea. :+1:

[2015-09-08 05:08] magsout commented on #208
Just a question. cssnext is not just a wrapper module, there is still a sense. How all this can be found in this version of postcss-cssnext?

[2015-09-08 05:12] MoOx commented on #208
Something like postcss-cssnext will just be a bundle of cssnext "features" (no options). Some details about my idea here https://github.com/cssnext/cssnext/issues/202#issuecomment-138435421
I hope the other things that cssnext brings (easy interface, cli etc) will be backported to postcss, that the idea behind this issue. But I guess nobody is excited about it...

[2015-09-08 05:34] magsout commented on #208
Maybe because this idea is more philosophical. Currently cssnext works very well and make a awesome job. It is easy to install (npm) and to use (webpack, grunt, gulp). The subtlety of what you want to do isn't necessarily pertinante at beginning.

[2015-09-08 06:03] jedmao commented on #202
I like the idea of `postcss-cssnext` that includes "just" features plugins. The bonus plugins are clearly out of project scope anyway, as far as I'm concerned.

If I understand correctly, the project goals of cssnext are to write future CSS syntax, today. Seeing as autoprefixer enables you to do that w/o worrying about vendor prefixes, I definitely feel that it belongs in the cssnext project goals

[2015-09-08 06:17] koistya commented on #202
It seems to me that import, url, cssnano, autoprefixer are falling out of the scope of this plugin's objective.

[2015-09-08 10:48] ben-eb commented on #202
I think the best thing is to limit scope where possible. For example, https://github.com/jakubpawlowicz/clean-css has a `processImport` option which does the same things as postcss-import, but I feel is outside the scope of a minifier and so I chose not to bundle similar functionality with cssnano. Indeed, cssnano's usage of autoprefixer is uncommon because it just removes old prefixes, and even I

[2015-09-08 12:50] MoOx commented on #202
cssnext was first designed when was not widely used, and so when no ones was still using postcss directly via a runner. That's why there is "so many" features, like imports, url,...
It's clear that today it does not clearly make sense, but I also know people that are still happy to "just us it" as it is.
That why I think it's time for a postcss-cssnext that just handle css features. cssnext like i

[2015-09-08 12:54] ben-eb commented on #202
All of that makes sense to me. :+1:

[2015-09-09 14:31] chentaixu commented on #202
Yep, options like import, url, cssnano should be excluded from cssnext.

[2015-09-10 06:21] MoOx commented on #202
[postcss-cssnext](https://github.com/cssnext/postcss-cssnext) is almost ready. There is still a minor warning, but we will find the responsible.
You can thanks @jedmao for this.

For difference, checkout the README and don't hesitate to provide feedback on the explanation I added.

cssnext itself will need a major breaking change in the API so we can deliver an upgrade, because cssnano is an async

[2015-09-10 06:22] MoOx commented on #208
[postcss-cssnext](https://github.com/cssnext/postcss-cssnext) is almost ready. That will help.

[2015-09-10 09:53] dotnetCarpenter opened #210 "NaNpx values when using REM units"
`node_modules/.bin/cssnext -V`: `1.8.4`

I haven't been able to create a reduced test case to show this, so I'm dumping my entire `css` file here. Sorry for the lengthy post.
Running cssnext with the following command:
`node_modules/.bin/cssnext  example/**/*.src.css example/css/all.min.css`

Note that `node_modules/.bin/cssnext --no-rem example/**/*.src.css example/css/all.min.css` obviously does

[2015-09-10 11:31] codemakerlive commented on #208
Good work @MoOx, looking forward to it on npm

[2015-09-10 11:33] ben-eb commented on #208
@MoOx Awesome. :+1:

[2015-09-10 12:27] MoOx commented on #210
It's probably a pixrem bug /cc @iamvdo

[2015-09-10 13:10] ben-eb commented on #210
Smaller test case:

[code]

Output:

[code]

[2015-09-10 14:45] lgersman opened #211 "cli plugin option"
hello,

i want to use a postcss plugin (https://github.com/jonathanong/postcss-prefix-selector to be concrete) together with cssnext using cssnext cli interface.

the cssnext documentation states that postcss plugins can be used together with an example written directly in js. i would like to use it from the commandline.

is it already implemented ?

any ideas how it can be done ?

kind regards,

[2015-09-10 17:40] dotnetCarpenter commented on #210
Thanks @ben-eb! I'll report that in `pixrem`

[2015-09-10 23:39] DylanPiercey opened #212 "Reference Combinators."
http://www.w3.org/TR/selectors4/#idref-combinators

Is it at all possible to polyfill this? It basically allows non cascading selectors so I would think not but it sure would be handy!

[2015-09-11 04:59] MoOx commented on #211
cli interface have an option to specify a configuration file, that might helps.

[2015-09-11 09:27] lgersman commented on #211
ok, and how do i define the plugin konfiguration for the plugin ?

[2015-09-12 23:54] DVLP commented on #202
I've been struggling with this half day
How do I install postcss-cssnext to be able to use postcss?

    npm install postcss-cssnext --save-dev
didn't work so I cloned the repo and built it using npm install
This didn't work either.

    https://github.com/cssnext/postcss-cssnext
On repo page it doesn't say that it's not ready or not working

I'm using this template

    https://github.com/kriasof

[2015-09-13 00:30] jedmao commented on #202
@DVLP you need to `npm install cssnext`, not postcss-cssnext.

[2015-09-13 03:50] DVLP commented on #202
@jedmao That was my starting point. Then I was getting this error https://github.com/postcss/postcss/issues/531

So it looks like cssnext is outdated and it will not work with postcss 5. That's why I was hoping to get postcss-cssnext running. Currently I develop with most bootstrap styles missing and hope to fix it tomorrow.

[2015-09-13 04:16] jedmao commented on #202
@DVLP yeah. cssnext doesn't support PostCSS 5.0 yet, so you have to use 4.x plugins until it does. postcss-cssnext is almost ready though. Just waiting for the pleeease-filters plugin to upgrade to PostCSS 5.0 and we can pull the switch.

[2015-09-13 09:40] JosefJezek opened #213 "Support for CSS @apply Rule - Error: no writecb in Transform class"
How to resolve this error? We need for Polymer Themes.

- http://tabatkins.github.io/specs/css-apply-rule/
- https://www.polymer-project.org/1.0/docs/devguide/styling.html#custom-css-mixins
- https://github.com/StartPolymer/polymer-starter-kit-plus

I define mixin using `@apply` rule for `<paper-menu>` element.

[code]
 -> `Error: no writecb in Transform class`

Thank you

[2015-09-13 16:06] DVLP commented on #202
Cool, I can't wait for that. I'm just working on a test project which needs to be ready for tomorrow to get a React contract so probably will have to use the latest 4.x version for now.

[2015-09-13 16:11] MoOx commented on #202
We are waiting for @iamvdo to merge & release this PR https://github.com/iamvdo/pleeease-filters/pull/12

[2015-09-13 18:32] MoOx commented on #212
cssnext is not a polyfill. This cannot be done without a client side runtime. Sorry.

[2015-09-13 18:32] #212 closed

[2015-09-13 18:34] MoOx commented on #211
Using the plugin option http://cssnext.io/usage/#plugins

[2015-09-13 18:34] MoOx commented on #211
Please use the gitter chat for support.

[2015-09-13 18:34] #211 closed

[2015-09-13 18:35] MoOx commented on #210
Waiting for this https://github.com/robwierzbowski/node-pixrem/issues/45

[2015-09-13 18:36] MoOx commented on #213
`@apply` is not yet supported yet in cssnext. We need to [upgrade to postcss v5](202) since https://github.com/pascalduez/postcss-apply need v5 parser.
Closing in favor of #203

[2015-09-13 18:36] #213 closed

[2015-09-13 18:37] MoOx commented on #207
Will try to add that the next time I will work on the cli.

[2015-09-13 18:43] MoOx commented on #203
This one require postcss v5, will add that after #202

https://github.com/pascalduez/postcss-apply

[2015-09-13 18:44] MoOx commented on #199
I think we should fix the issue in postcss-url, which should not change path like that.

[2015-09-13 18:50] ai opened #214 "Add postcss-initial"
I think we should add this plugin to cssnext https://github.com/maximkoretskiy/postcss-initial

It is `all: initial` polyfill. This property will return all inherited styles to base one.

This plugin is really amazing, because it can be used to create absolutly isolated widgets. Like we will use CSS Modules to isolate selectors and then `all: initial` to isolate pproperties.

[2015-09-13 20:18] JosefJezek commented on #213
'@apply' rule is implemented in Polymer using JS. How to pass or ignore this error by parse css?

- https://www.polymer-project.org/1.0/docs/devguide/styling.html#custom-css-mixins

[2015-09-14 05:05] MoOx commented on #213
You need to wait for #202 for now which is blocked by https://github.com/iamvdo/pleeease-filters/pull/12

[2015-09-14 12:25] MoOx commented on #202
postcss-cssnext is out https://github.com/cssnext/postcss-cssnext/releases/tag/2.0.0
[Check out the difference between cssnext and postcss-cssnext](https://github.com/cssnext/postcss-cssnext#readme)

Next version of cssnext will use this plugin as a legacy interface.

[2015-09-14 13:12] ben-eb commented on #202
@MoOx Great work. :+1:

[2015-09-14 13:24] MoOx commented on #202
You can thanks @jedmao for this.

[2015-09-14 13:38] ben-eb commented on #202
@jedmao Thanks! Great work. :+1:

[2015-09-14 21:52] maximkoretskiy commented on #214
Just sent PR to postcss-cssnext
https://github.com/cssnext/postcss-cssnext/pull/12

Waiting for cssnext version upgrade https://github.com/cssnext/cssnext/issues/202

[2015-09-16 02:25] ChristopherBiscardi commented on #208
+1 We are running into a situation where we have cssnext running with a few other plugins and it looks like postcss-cssnext could help make our config a bit neater.

FWIW, the cssnext CLI has helped when debugging in the past, but it doesn't seem like a necessity.

.postcssrc is interesting, because it could mean configuring css for a static site generator [much like babel is configured](https://g

[2015-09-16 03:04] pensierinmusica commented on #202
https://github.com/postcss/gulp-postcss/issues/55

[2015-09-16 10:33] Gerhut commented on #207
Can I try implementing it and send a PR?

[2015-09-16 19:26] MoOx commented on #208
I plan to deprecate (and not update to cssnext v2) all runners:

-  cssnext-loader > postcss-loader + postcss-cssnext
- gulp-cssnext > gulp-postcss + postcss-cssnext
- grunt-cssnext > grunt-postcss+ postcss-cssnext
- fly-cssnext > fly-postcss + postcss-cssnext
- cssnextify > browserify-postcss + postcss-cssnext
- duo-cssnext > duo-postcss + postcss-cssnext
- cssnext-brunch > postcss-brunch + postc

[2015-09-16 19:27] ai commented on #208
I move depreacted repos to my account to clean org https://github.com/ai/autoprefixer-core

[2015-09-16 19:28] ai commented on #208
I think cssnext org is great for cssnext plugins

[2015-09-16 19:29] MoOx commented on #208
There is not such thing as cssnext plugin and I plan to deprecate runners, so the org will be empty (just one repo)

[2015-09-16 19:36] lionelB commented on #208
Sounds good to me.
+1 for readme update to ensure a smooth transition

[2015-09-16 19:37] magsout commented on #208
SGTM go 👍

[2015-09-16 19:39] ai commented on #208
@MoOx in this case we can remove org :)

[2015-09-16 19:40] shinnn commented on #208
Nice design :+1:

[2015-09-16 19:42] watilde commented on #208
Yeah sounds good to me too!
+1

[2015-09-16 19:47] MoOx commented on #208
I will wait for each runner owners to say "yes, I am ok, let's do this".

- [x] cssnext-loader (@MoOx)
- [x] gulp-cssnext (@MoOx)
- [x] grunt-cssnext (@MoOx)
- [x] duo-cssnext (@MoOx)
- [x] cssnext-brunch (@lionelb)
- [x] broccoli-cssnext (@shinnn)
- [x] cssnext-connect (@watilde)
- [ ] fly-cssnext (@bucaran or @drKraken)
- [ ] cssnextify (@ByteMuse)

[2015-09-16 19:51] MoOx commented on #207
Not a good idea. The cli will be rewritten at any moment (see #208 + wip of https://travis-ci.org/MoOx/cli-for-files) so please wait for this.

[2015-09-16 19:52] Swatinem commented on #208
[x] [https://github.com/Swatinem/gobble-cssnext](gobble-cssnext) (@Swatinem)
Sounds good. Waiting for your *link on how to migrate with ease*

[2015-09-16 19:52] MoOx commented on #208
haha thanks for reporting this plugin as well, adding to the list

[2015-09-16 19:56] Swatinem commented on #208
As a side note: There is [gobble-postcss](https://github.com/gobblejs/gobble-postcss) already, just need to know how to hook up the cssnext preset.

[2015-09-16 20:08] MoOx commented on #214
Released as postcss-cssnext 2.1.0, will close this when #202 is ok

[2015-09-16 20:10] MoOx commented on #80
@jonathantneal feel free to submit a pr to postcss-cssnext ;)

[2015-09-16 20:11] MoOx commented on #73
https://github.com/MoOx/rc-loader is ready.

[2015-09-18 08:02] youthkee opened #216 ""pxrem" does not work in Media Queries when using gulp-cssnext."
I'm using "rem units" function with gulp-cssnext.
But it doesn't generate pixel fallback in at-rules (media-queries).
Is this a bug or normal operation?

before
[code]

after
[code]

I tried "atrules" option as described blow.
https://github.com/robwierzbowski/node-pixrem#options

But it does not work well too.

gulpfile.js
[code]

[2015-09-18 09:02] MoOx commented on #216
Browser that support mq also support rem, so it's normal.

[2015-09-18 09:02] #216 closed

[2015-09-18 09:05] MoOx commented on #210
Closed by https://github.com/robwierzbowski/node-pixrem/commit/9ccf84f46461bb7a1b52d1a37a4b7bd93258be64
Just uninstall and reinstall cssnext to get the patch.

[2015-09-18 09:05] #210 closed

[2015-09-18 15:12] dotnetCarpenter commented on #210
Hmm just did to no avail.

[2015-09-18 15:14] MoOx commented on #210
Can you double check you have node-pixrem 2.0.1 please ?

[2015-09-18 15:21] dotnetCarpenter commented on #210
I can't have that since cssnext specifies pixrem 1.* https://github.com/cssnext/cssnext/blob/master/package.json#L41

[2015-09-18 15:47] dotnetCarpenter commented on #210
Unfortunately the unit test fails with [microtime@1.5.0](https://github.com/wadey/node-microtime/), which is a dev dependency of `cssnext`. It's unrelated to [PR#217](https://github.com/cssnext/cssnext/pull/217) though.

Hmm seems there is some info about [telling travis to use GCC 4.8](https://github.com/wadey/node-microtime/issues/36) and [here](https://github.com/wadey/node-microtime/issues/34#

[2015-09-18 16:45] jedmao commented on #210
@dotnetCarpenter see https://github.com/cssnext/cssnext/pull/209#discussion-diff-39006474

[2015-09-18 16:55] jedmao opened #218 "Fix microtime dependency"
See https://github.com/wadey/node-microtime/issues/34#issuecomment-138529797

[2015-09-18 17:15] jedmao commented on #210
See https://github.com/cssnext/cssnext/pull/219 for fixing unrelated issues to this PR.

[2015-09-18 17:19] MoOx commented on #210
This will have to wait #202 :/
@dotnetCarpenter my best advice: https://github.com/cssnext/cssnext/issues/202#issuecomment-140054338

[2015-09-23 02:22] DylanPiercey opened #221 "Client side polyfills"
I understand that cssnext uses postcss and is purely preprocessing css at the moment. I think that this is extremely limiting. In my opinion we should take a tip from babel and ship with an (optional) runtime to enable some more killer features.

I'm thinking of stuff like this:

[code]

In this case the generated javascript would look something like this:

[code]

Now this example wouldn't be ter

[2015-09-23 04:37] jedmao commented on #221
@DylanPiercey it seems like a lot of over engineering for something as simple as a mixin. Why not just use [`postcss-mixins`](https://github.com/postcss/postcss-mixins) and define the following mixin:

[code]

Or in JavaScript:

[code]

Then, you can use it like so:

[code]

Don't worry about the duplication, because gzip compression pretty much obliterates that!

[2015-09-24 18:55] MoOx commented on #221
We already discussed about this.
If this have to happen, the code for preprocessing (postcss+plugins) and the client side code won't probably share anything, so this can be done in another project. I personally won't take time for this.
That said, if someone want to push something here, feel free to raise the hand.

[2015-09-24 19:27] MoOx commented on #208
poke @bucaran, @drKraken, @ByteMuse

[2015-09-24 23:17] DylanPiercey commented on #221
@jedmao - a position sticky polyfill is not possible without runtime javascript.
@MoOx alright sounds good.

[2015-09-24 23:18] #221 closed

[2015-09-25 18:14] drKraken commented on #208
@MoOx  sounds good to me, lets do it! :)
PS.Sorry for late response...

[2015-09-25 19:04] maximkoretskiy commented on #202
Is there any problems with this issue?

[2015-09-25 19:58] MoOx commented on #202
My problem is that a day only contains 24h and I have to keep some to sleep :)

[2015-09-25 19:58] MoOx commented on #202
(No problem, I am on it since yesterday)

[2015-09-25 20:00] maximkoretskiy commented on #202
Are PR welcome?

[2015-09-25 20:02] MoOx commented on #202
Sadly, it's not that simple and there is a lot of work to do to offer a good upgrade experience.
See #208. I will take care on it, I started to work on it yesterday.

[2015-10-01 06:51] MoOx commented on #202
I am currently making a monorepo with postcss-cssnext and legacy/cli cssnext package. Sorry for taking so long. Life can be complicated sometimes.

[2015-10-01 18:42] Seanathon opened #222 "Adding background-blend-mode support"
Would getting this to work on all browsers even be possible using CSSNext? Currently IE doesn't support it at all and Safari doesn't work with color, hue, multiply, etc.

[2015-10-01 19:47] MoOx commented on #202
I changed my mind and think it's better to keep things simple. So I will close this issue in favor of the convergence #208

[2015-10-01 19:48] #202 closed

[2015-10-01 19:58] MoOx commented on #208
I am working on this.
So for now working on https://github.com/postcss/postcss/issues/477 in order to make cssnext a simple plugin. Meanwhile, you can use postcss-cssnext. You can check about the difference here https://github.com/cssnext/postcss-cssnext#readme
Current postcss-cssnext repo will be deleted when postcss will have the parts of current cssnext that will be deleted from cssnext core (c

[2015-10-01 21:20] maximkoretskiy commented on #214
Now we waiting for https://github.com/cssnext/cssnext/issues/208

[2015-10-02 10:33] pensierinmusica commented on #208
@MoOx, what about the [npm package](https://www.npmjs.com/package/postcss-cssnext)? Will it be the same one throughout all changes and just be substituted with the new final repo once it's ready?

[2015-10-02 10:36] MoOx commented on #208
Not sure yet, feel free to argue if we should keep "cssnext" as a postcss plugin or deprecate "cssnext" in favor of "postcss-cssnext". I am not sure what is the best to do. Maybe keeping the package as "postcss-cssnext"?
Please tell me what you think!

[2015-10-02 12:36] pensierinmusica commented on #208
Mmm, according to what seems to be sort of a standard on [postcss docs](https://github.com/postcss/postcss#plugins) it looks like it depends on whether `cssnext` is to be considered as a "pack" (containing multiple plugins) or a single plugin.

If it's a "pack" then I'd say `cssnext` would fit fine, otherwise if it's a single plugin `postcss-cssnext` seems to be more in line with current naming co

[2015-10-02 12:43] MoOx commented on #208
I like what babel is doing. So in order to have cssnext as a preset, I think we should consider having postcss- in the name somewhere, especially if the code doesn't make any sense without postcss (which will be the case).

Here are some idea:
- postcss-pack-cssnext
- postcss-pack-w3c-{stage} (see #100 - where stage could be: proposal, wd, cr, rec : http://www.w3.org/2014/Process-20140801/#maturit

[2015-10-02 12:53] cahnory commented on #208
postcss-next ?

[2015-10-03 05:57] jonathanong commented on #208
@MoOx is `postcss-cssnext` safe to use right now?

[2015-10-03 08:05] MoOx commented on #208
Yep. Just check the differences in postcss-cssnext readme.

[2015-10-04 13:24] unindented opened #223 "Old version of `cssnano` using deprecated `css-list`"
@MoOx can we upgrade to `cssnano ^3.2.0`? The current version throws a warning on install because it uses `cssnano ^2.6.1`, which relies on the deprecated `css-list` library.

[2015-10-04 14:34] MoOx commented on #223
Sorry but it's not that simple. See #202 then #208.

[2015-10-04 14:34] #223 closed

[2015-10-07 10:40] realph opened #224 "Nested Media Queries"
Is it possible to have nested media queries in your css, just like sass?

[code]

Any help is appreciated. Thanks in advance!

[2015-10-07 10:43] Macxim commented on #224
See https://github.com/cssnext/cssnext/issues/30

[2015-10-07 11:03] realph commented on #224
@Macxim Not sure I understand that thread. Can I do the above? They seem to be nesting media queries inside of other media queries, where as I want to nest media queries inside of CSS declarations.

[2015-10-07 11:12] Macxim commented on #224
@realph Alright, my bad. I read too fast.
In this case, it would be like CSS nesting discussed here https://github.com/cssnext/cssnext/issues/80.

[2015-10-12 18:57] fingermark commented on #80
I don't get the lack of nesting.  I am trying CSS Modules for the first time.  I'm making a nav menu and it's nice to be able to do this:

[code]

[2015-10-12 19:02] jonathantneal commented on #80
I’ve submitted a PR for this. @fingermark, please note that native nesting will not exactly work like Sass nesting. http://tabatkins.github.io/specs/css-nesting/

If you’re coming from Sass, the easiest way to consider the changes is like this: Always use the `&`, and prefix the nested rule with `@nest`.

[code]

[2015-10-12 19:06] fingermark commented on #80
Thanks, looks like I can probably get rid of postcss-nested now

[2015-10-13 13:12] keithamus commented on #203
For any who land here, it looks as though #208 is the new issue that needs to be resolved before this lands.

[2015-10-15 11:54] SammyM opened #225 "Update pixrem dependency to v3.0.0 for rootValue"
Is it possible to update the pixrem dependency to version 3.0.0 so that the rootValue option can be used?

Reference: https://github.com/robwierzbowski/node-pixrem/issues/40

[2015-10-15 17:59] felixfbecker commented on #208
I just want cssNext to be to Sass/Less/Stylus what babel is to CoffeeScript/TypeScript/...

[2015-10-15 18:35] MoOx commented on #208
@felixbecker this issue has been raised because babel (in 6.0) is becoming an engine like postcss that will do nothing by default (no transformation if no plugins added). If we want to follow babel footstep we should make cssnext a postcss preset (like babel-preset-es2015). That's why I mentionned a possible chane for the name. I still want mire input from cssnext users about that.

[2015-10-15 19:04] MoOx commented on #225
See #208 for the reason of the blocker.

[2015-10-15 20:17] felixfbecker commented on #208
Imo you must keep the name cssnext. Babel may be switching to a module approach, but they keep the name and everyone knows it stands for using next ES's features. CssNext has this association too. PostCSS doesnt.

[2015-10-15 20:38] MoOx commented on #208
No that my point. Babel won't focus on ES future in it's core. That's a fact (just look at babel development branch atm).
That's why I am not sure how to adapt cssnext to be "just a preset" to enable the future of css and promote postcss as a main tool (in order to avoid duplicate effort for gulp/grunt/whatever runners/cli etc...).

[2015-10-18 18:59] piotrkulpinski opened #226 "Install failed on caniuse-api"
Hi, I can't get past cssnext installation due to some issue with caniuse-api package.
I tried cssnext and postcss-cssnext packages and they both return this error:

https://www.dropbox.com/s/kx5f9ols9jp5f63/Screenshot%202015-10-18%2020.56.45.png?dl=0

[2015-10-18 19:09] MoOx commented on #226
Please try again, should be fixed by caniuse-api 1.4.1

[2015-10-18 19:09] #226 closed

[2015-10-18 19:10] piotrkulpinski commented on #226
Thanks for the quick fix! Now it's working.

[2015-10-19 13:11] dschissler opened #227 "cssnext doesn't work with PostCSS 5"
cssnext doesn't work with PostCSS 5

[2015-10-19 13:14] MoOx commented on #227
dup of #202. See #208.

[2015-10-19 13:14] #227 closed

[2015-10-20 06:14] alexbyk opened #228 ":local + url(File) - unexpected behaviour"
this works well
[code]

This (without brackets)
[code]
throws an error
[code]
That's a bug, right? Or I missed something?

[2015-10-20 06:43] MoOx commented on #228
What is your error?

[2015-10-20 07:13] alexbyk commented on #228
@MoOx Sorry, forgot to mention. Updated

[2015-10-20 07:37] MoOx commented on #228
This is a css-loader error. Please read the doc carefullly. Note also that cssnext might update your url() if imported but it seems that not the cause of your issue.

[2015-10-20 07:37] #228 closed

[2015-10-20 08:55] piotrkulpinski opened #229 "Update autoprefixer-core to the latest version to remove console warnings"
Hi there,
I'm getting following warnings while using cssnext:
[code]

I found out that it's related to autoprefixer itself and it was fixed in v6 of the package, but cssnext still uses the old v5 version.

Here's the reference: https://github.com/postcss/autoprefixer/issues/500

[2015-10-20 09:01] ben-eb commented on #229
Duplicate of https://github.com/cssnext/cssnext/issues/202.

[2015-10-20 09:02] piotrkulpinski commented on #229
That one is closed already and I don't see my issue resolved there so I think it should stay for now.

[2015-10-20 09:06] ben-eb commented on #229
See also https://github.com/cssnext/cssnext/issues/208.

[2015-10-20 17:37] MoOx opened #230 "⚠︎ Deprecate cssnext in favor or postcss-cssnext"
Following #202 and #208

[2015-10-20 17:38] MoOx commented on #230
Please give your opinion about this comment https://github.com/cssnext/cssnext/issues/208#issuecomment-145007729
Meanwhile, you can use instead of using cssnext, please use the postcss runner of your choice with postcss-cssnext https://github.com/cssnext/postcss-cssnext

Here are the differences https://github.com/cssnext/postcss-cssnext#readme

[2015-10-20 17:40] MoOx commented on #229
Please see #230

[2015-10-20 17:40] #229 closed

[2015-10-21 14:27] awayken commented on #230
My opinion is that I'm comfortable doing whatever you think is best, @MoOx. I don't have any experience with Babel and have very little experience with PostCSS in general, so I have no preference on the use of PostCSS packs or plugins or anything else that's been suggested.

I use the Gulp to process my cssnext so as long as we can provide even simple examples that show how to convert to the new u

[2015-10-21 15:18] ben-eb commented on #230
I like it, makes cssnext more of a focused plugin, should be easier to support with less internal dependencies.

[2015-10-29 13:49] skinnyfoetusboy opened #231 "Outdated Autoprefixer"
When should we expect to see Autoprefixer upgraded to 6.0 in cssnext?

[2015-10-29 14:11] magsout commented on #231
@skinnyfoetusboy https://github.com/cssnext/cssnext/issues/230 I guess never ?

[2015-10-29 14:13] magsout commented on #231
@skinnyfoetusboy https://github.com/cssnext/postcss-cssnext with autoprefixer 6.0

[2015-10-29 14:13] skinnyfoetusboy commented on #231
Damn.

[2015-10-29 14:18] skinnyfoetusboy commented on #231
@MoOx Maybe you should update the README to reflect the change of direction you've chosen for cssnext?

[2015-10-29 17:21] MoOx commented on #231
It will require some time to explain people how to migrate. This require some amount of time I am not ready to spend yet :/
I would like this issue https://github.com/postcss/postcss/issues/477 to be handled before in order to make a "generic" transition easier for everyone.

[2015-11-03 16:22] silenceisgolden opened #232 "postcss version, or how to combine media queries at the bottom"
When I try to use `css-mqpacker` as a postcss plugin inside of cssnext, it throws an error

[code]

A) any plans on upgrading postcss version in dependencies OR
B) how to accomplish grouping media queries at the bottom of the document and combining them into one for multiple of the same media query?

[2015-11-04 08:20] MoOx commented on #232
Please look at #230

[2015-11-04 08:20] #232 closed

[2015-11-04 21:39] silenceisgolden commented on #232
@MoOx Thanks for the response, I'll check that out.

[2015-11-06 08:27] maximkoretskiy commented on #214
:tired_face:

[2015-11-06 08:37] MoOx commented on #214
What?

[2015-11-06 08:37] ai commented on #214
@maximkoretskiy `postcss-cssnext` is already released and can be used.

[2015-11-06 08:42] maximkoretskiy commented on #214
Yes, I know. But postcss-initial is not mentioned in official docs.

[2015-11-06 08:46] MoOx commented on #214
Official doc are currently kind of outdated, like cssnext itself.
I need to take some times, I will probably do that before my conference (about PostCSS) at the end of the month, so be patient.
OR you can help in the appropriate issues. That's also a solution.

[2015-11-06 08:55] maximkoretskiy commented on #214
ОК, I ll look around in project issues.

[2015-11-14 11:38] jakob-e opened #233 "Add at-rule support – as in firefox implementation"
The following example does not work in cssnext as opposed to the firefox implementation

[code]

[Example (view in firefox)](http://codepen.io/jakob-e/pen/vNvPEm)

[2015-11-14 11:40] MoOx commented on #233
Closing in favor of https://github.com/postcss/postcss-custom-properties/issues/9

[2015-11-14 11:40] #233 closed

[2015-12-08 19:19] awayken commented on #230
@MoOx Do you have recommendations for when users of cssnext should start rewriting their build process to use postcss-cssnext instead? Do you feel like things are ready for people to transition, or is there still work to be done?

[2015-12-10 06:55] MoOx commented on #230
Currently using postcss-cssnext is totally safe, you will just need to adjust your workflow to use postcss + some plugins instead of directly cssnext.
I think (in order to provide a good transition) we should only deprecate cssnext when we will have doc on how to upgrade for every kind of workflow (grunt, gulp etc) and I think handling this might help a lot https://github.com/postcss/postcss/issue

[2015-12-23 18:12] davidmaxwaterman opened #236 "is there a way to convert a cssnext input file into a sass input file?"
I am working on a team that seems to use sass (as a drupal module). I don't know sass, and would like to dedicate my time to learning stuff that will (likely) become standard, and so I've been using cssnext (actually gulp-cssnext).
However, it seems that my work just ends up being converted into sass. It would make things a lot easier if there were a converter tool to convert my css custom propert

[2015-12-24 07:35] MoOx commented on #236
I am not aware of something like that. Seems like going backward to me :/
But you can probably do that by making your own postcss plugin...

[2015-12-24 07:35] #236 closed

[2015-12-24 12:44] davidmaxwaterman commented on #236
While I can see what you mean, but this is about being compatible and easing people into the new way.

Anyway, *I* wouldn't be able to make my own plugin because I would need to learn sass to do that, and I'm attempting to avoid that. If I had to do learn sass, then I might as well just write it in sass to start with...

From what I've seen, drupal needs it to be a command to run - does postcss ha